.img-circle {
  max-height: 50px;
}

table {
  width: 100%;
}
.mat-row:hover .mat-cell {
  opacity: 0.7;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.member-list {
  min-height: 50rem;
  background-color: white;
  border-radius: 0;
}

.member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  .thumbnail-box {
    flex-basis: 15%;
    .member-thumbnail {
      max-width: 100%;
    }
  }
  .content-box {
    flex-grow: 1;
    margin-left: 1rem;
    .name {
      text-transform: uppercase;
      font-weight: 600;
      padding: 10px 0;
      color: #555;
      display: flex;
      align-items: center;
    }
    .message {
    }
  }
}
