<div class="" *ngIf="formControl">
  <div class="input-group">
    <input
      [id]="label"
      type="text"
      [class.is-invalid]="formControl.touched && formControl.invalid"
      class="form-control"
      [formControl]="formControl | formControl"
      placeholder="{{ label }}"
      bsDatepicker
      [bsConfig]="bsConfig"
      [maxDate]="maxDate"
      [class]="customClass"
      (bsValueChange)="onValueChange($event)"
    />
    <span class="input-group-text"><i class="fa-regular fa-calendar"></i></span>
  </div>
  <div *ngIf="formControl.errors?.['required']" class="invalid-feedback">
    {{ label }} is required
  </div>
</div>
