.form-control {
  border: 1px solid var(--border-main);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--black);
  height: 32px;
  &:active,
  &:focus,
  &:focus-within {
    box-shadow: none;
  }

  &.border-dark {
    border-color: var(--border-main);
    & + .input-group-text {
      border-color: var(--border-main);
    }
  }
}
