@import "_typography";

.form-control {
  @extend .text-1;
  border: 1px solid var(--border-main);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--text-main);
  height: 32px;
  &:active,
  &:focus,
  &:focus-within {
    box-shadow: none;
  }

  &.border-dark {
    border-color: var(--border-main) !important;
    & + .input-group-text {
      border-color: var(--border-main) !important;
    }
  }
}
