<div class="profile-edit" *ngIf="member">
  <div class="row">
    <div class="offset-xl-1 col-xl-10">
      <div class="py-5">
        <div class="w-100">
          <form
            [formGroup]="projectsForm"
            id="projectsForm"
            (ngSubmit)="updateProject()"
          >
            <div formArrayName="projects">
              <ng-container
                *ngFor="let projectForm of projects.controls; let i = index"
                [formGroup]="projectForm | formGroup"
              >
                <fieldset class="fieldset">
                  <legend class="legend">PROJECT #{{ i + 1 }}</legend>
                  <app-project-edit
                    [projectForm]="projectForm | formGroup"
                  ></app-project-edit>
                </fieldset>
              </ng-container>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
