<div class="profile-edit" *ngIf="member">
  <div class="row">
    <div class="offset-xl-1 col-xl-10">
      <!-- <div class="text-end">
        <button class="main-btn" (click)="addProject()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div> -->
      <div class="py-5">
        <div class="w-100" [formGroup]="projectsForm" id="projectsForm">
          <div formArrayName="projects">
            <ng-container
              *ngFor="let projectForm of projects.controls; let i = index"
            >
              <fieldset class="fieldset">
                <!-- <div class="delete-box">
                  <button
                    (click)="deleteProjectForm(projectForm, i)"
                    class="icon-btn"
                  >
                    <i class="fa-regular fa-square-minus"></i>
                  </button>
                </div> -->
                <!-- <legend class="legend">PROJECT #{{ i + 1 }}</legend> -->
                <app-project-edit
                  [projectForm]="projectForm | formGroup"
                  [project]="member.projects[i]"
                ></app-project-edit>
              </fieldset>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
