.nav {
  z-index: 100;
}

.navbar {
  background-color: var(--primary);
}

.nav-item {
  margin: 0.5rem;
}

.flex-base-full {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}


.logout {
  margin-left: auto;
}

