<nav
  class="navbar navbar-expand-lg header"
  [ngClass]="{ 'fixed-top': navbarFixed }"
  *ngIf="user"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        width="160"
        class="img-fluid"
        src="./assets/shared/together-logo-7.svg"
        alt="Get together Logo"
      />
    </a>
    <div class="d-flex align-items-center">
      <div class="nav-item d-block d-lg-none">
        <app-dropdown-link
          label="Message"
          [customClass]="'white'"
          menuClass="dropdown-menu-right messsage-dropdown"
          ariaControls="message-dropdown"
          id="message-dropdown"
          (onChange)="handleMobileChange($event)"
        >
          <li class="dw-item" role="menuitem">Chats</li>
          <li class="dw-item" role="menuitem">
            <app-message-overview
              *ngIf="isMobileDropdownOpen"
            ></app-message-overview>
            <div class="text-end m-3">
              <app-link
                customClass="primary no-radius"
                routerLink="/main/messages"
                routerLinkActive="active"
              >
                <span class="ms-3"> View all messages </span>
                <i class="fa-solid fa-arrow-right"></i>
              </app-link>
            </div>
          </li>
        </app-dropdown-link>
      </div>

      <div class="nav-item d-block d-lg-none">
        <app-dropdown-link
          [thumbnail]="user.photoUrl"
          customClass="dropdown-menu-right"
          ariaControls="account-dropdown"
          id="account-dropdown"
        >
          <li class="dw-item" role="menuitem">
            <img
              [src]="user.photoUrl"
              alt=""
              width="37"
              heigh="37"
              class="rounded-circle me-2"
            />
            {{ user.name }}
          </li>

          <li class="dw-item" class="divider dropdown-divider"></li>

          <li class="dw-item" *ngIf="user">
            <app-link
              customClass="bold"
              routerLink="/main"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span> {{ user.name }} </span>
            </app-link>
          </li>

          <li class="dw-item" role="menuitem">
            <app-link routerLink="/main/dashboard">
              <span> Profile settings </span>
            </app-link>
          </li>

          <!--  -->

          <li class="dw-item">
            <app-link routerLink="/main/members" routerLinkActive="active">
              <span> Members </span>
            </app-link>
          </li>
          <li class="dw-item">
            <app-link routerLink="/main/projects" routerLinkActive="active">
              <span> Projects </span>
            </app-link>
          </li>

          <li class="dw-item" *appHasRole="['Admin', 'Moderator']">
            <app-link routerLink="/main/admin">
              <span> Admin </span>
            </app-link>
          </li>
          <li class="dw-item" *appHasRole="['Admin', 'Moderator']">
            <app-link routerLink="/errors">
              <span> Errors </span>
            </app-link>
          </li>
          <!--  -->

          <li class="dw-item" class="divider dropdown-divider"></li>
          <li class="dw-item" role="menuitem logout">
            <div class="d-flex justify-content-between align-items-center">
              <div><i class="fa-solid fa-globe me-2"></i> English</div>
              <app-button customClass="ms-auto" (click)="logout()">
                Logout
              </app-button>
            </div>
          </li>
        </app-dropdown-link>
      </div>
    </div>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{
        show: isCollapsed
      }"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item" *ngIf="user">
          <app-link
            customClass="white"
            routerLink="/main"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span>{{ user.name }} </span>
          </app-link>
        </li>

        <li class="nav-item">
          <app-link
            customClass="white"
            routerLink="/main/members"
            routerLinkActive="active"
          >
            <span>Members</span>
          </app-link>
        </li>
        <li class="nav-item">
          <app-link
            customClass="white"
            routerLink="/main/projects"
            routerLinkActive="active"
          >
            <span>Projects</span>
          </app-link>
        </li>
        <li class="nav-item d-none d-lg-block">
          <app-dropdown-link
            label="Message"
            class="nav-dropdown"
            [customClass]="'white'"
            menuClass="dropdown-menu-right messsage-dropdown white"
            ariaControls="message-dropdown"
            id="message-dropdown"
            (onChange)="handleChange($event)"
          >
            <li class="dw-item" role="menuitem">Chats</li>
            <li class="dw-item" role="menuitem">
              <app-message-overview *ngIf="isDropdownOpen">
              </app-message-overview>
              <div class="text-end m-3">
                <app-link
                  customClass="primary no-radius"
                  routerLink="/main/messages"
                  routerLinkActive="active"
                >
                  <span> View all messages </span>
                  <i class="fa-solid fa-arrow-right"></i>
                </app-link>
              </div>
            </li>
          </app-dropdown-link>
        </li>

        <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
          <app-link
            customClass="white"
            routerLink="/main/admin"
            routerLinkActive="active"
          >
            <span> Admin </span>
          </app-link>
        </li>
        <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
          <app-link customClass="" routerLink="/errors">
            <span> Errors </span>
          </app-link>
        </li>
        <li class="nav-item d-none d-lg-block">
          <app-dropdown-link
            [thumbnail]="
              user.photoUrl ? user.photoUrl : './assets/shared/user.png'
            "
            customClass="dropdown-menu-right"
            ariaControls="account-dropdown"
            id="account-dropdown"
            class="no-active"
          >
            <li class="dw-item" role="menuitem">
              <img
                [src]="user.photoUrl"
                alt=""
                width="37"
                heigh="37"
                class="rounded-circle me-2"
              />
              {{ user.name }}
            </li>
            <li class="dw-item" class="divider dropdown-divider"></li>
            <li class="dw-item" role="menuitem">
              <app-link routerLink="/main/dashboard" customClass="black">
                <span> Profile settings </span>
              </app-link>
            </li>
            <li class="dw-item" class="divider dropdown-divider"></li>
            <li class="dw-item" role="menuitem logout">
              <div class="d-flex justify-content-between align-items-center">
                <div><i class="fa-solid fa-globe me-2"></i> English</div>
                <app-button customClass="ms-auto" (click)="logout()">
                  Logout
                </app-button>
              </div>
            </li>
          </app-dropdown-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
