<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  [ngClass]="{ 'fixed-top': navbarFixed }"
  *ngIf="user"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        width="160"
        class="img-fluid"
        src="./assets/shared/together-logo-7.svg"
        alt="Get together Logo"
      />
    </a>
    <div class="d-flex align-items-center">
      <div class="nav-item d-block d-lg-none">
        <app-dropdown-link
          label="Message"
          customClass="dropdown-menu-right messsage-dropdown"
          ariaControls="message-dropdown"
          id="message-dropdown"
          (onChange)="handleMobileChange($event)"
        >
          <li class="dw-item" role="menuitem">Chats</li>
          <li class="dw-item" role="menuitem">
            <app-message-overview
              *ngIf="isMobileDropdownOpen"
            ></app-message-overview>
            <div class="text-end m-3">
              <app-link
                customClass="primary"
                icon="fa-solid fa-arrow-right"
                label="View all messages"
                routerLink="/main/messages"
                routerLinkActive="active"
              >
              </app-link>
            </div>
          </li>
        </app-dropdown-link>
      </div>

      <div class="nav-item d-block d-lg-none">
        <app-dropdown-link
          [thumbnail]="user.photoUrl"
          customClass="dropdown-menu-right"
          ariaControls="account-dropdown"
          id="account-dropdown"
        >
          <li class="dw-item" role="menuitem">
            <img
              [src]="user.photoUrl"
              alt=""
              width="37"
              heigh="37"
              class="rounded-circle me-2"
            />
            Changsoo Cho
          </li>

          <li class="dw-item" class="divider dropdown-divider"></li>

          <li class="dw-item" *ngIf="user">
            <app-link
              customClass="text"
              [label]="user.knownAs"
              routerLink="/main"
              routerLinkActive="active"
            >
            </app-link>
          </li>

          <li class="dw-item" role="menuitem">
            <app-link
              label="Edit Profile"
              routerLink="/main/dashboard"
              customClass="text"
            >
            </app-link>
          </li>

          <!--  -->

          <li class="dw-item">
            <app-link
              customClass="text"
              [label]="'Members'"
              routerLink="/main/members"
              routerLinkActive="active"
            >
            </app-link>
          </li>
          <li class="dw-item">
            <app-link
              customClass="text"
              [label]="'Projects'"
              routerLink="/main/projects"
              routerLinkActive="active"
            >
            </app-link>
          </li>

          <li class="dw-item" *appHasRole="['Admin', 'Moderator']">
            <app-link
              customClass="text"
              [label]="'Admin'"
              routerLink="/main/admin"
            >
            </app-link>
          </li>
          <li class="dw-item" *appHasRole="['Admin', 'Moderator']">
            <app-link customClass="" [label]="'Errors'" routerLink="/errors">
              Errors
            </app-link>
          </li>
          <!--  -->

          <li class="dw-item" class="divider dropdown-divider"></li>
          <li class="dw-item" role="menuitem logout">
            <div class="d-flex justify-content-between align-items-center">
              <div><i class="fa-solid fa-globe me-2"></i> English</div>
              <app-button customClass="ms-auto" (click)="logout()">
                Logout
              </app-button>
            </div>
          </li>
        </app-dropdown-link>
      </div>

      <!-- <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
      >
        <img
          [src]="user.photoUrl"
          alt=""
          class="img-thumbnail img-circle"
          width="40"
        />
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{
        show: isCollapsed
      }"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item" *ngIf="user">
          <app-link
            customClass=""
            [label]="user.knownAs"
            routerLink="/main"
            routerLinkActive="active"
          >
          </app-link>
        </li>

        <li class="nav-item">
          <app-link
            customClass=""
            [label]="'Members'"
            routerLink="/main/members"
            routerLinkActive="active"
          >
          </app-link>
        </li>
        <li class="nav-item">
          <app-link
            customClass=""
            [label]="'Projects'"
            routerLink="/main/projects"
            routerLinkActive="active"
          >
          </app-link>
        </li>
        <li class="nav-item d-none d-lg-block">
          <app-dropdown-link
            label="Message"
            customClass="dropdown-menu-right messsage-dropdown"
            ariaControls="message-dropdown"
            id="message-dropdown"
            (onChange)="handleChange($event)"
          >
            <li class="dw-item" role="menuitem">Chats</li>
            <li class="dw-item" role="menuitem">
              <app-message-overview *ngIf="isDropdownOpen">
              </app-message-overview>
              <div class="text-end m-3">
                <app-link
                  customClass="primary"
                  icon="fa-solid fa-arrow-right"
                  label="View all messages"
                  routerLink="/main/messages"
                  routerLinkActive="active"
                >
                </app-link>
              </div>
            </li>
          </app-dropdown-link>
        </li>

        <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
          <app-link
            customClass=""
            [label]="'Admin'"
            routerLink="/main/admin"
            routerLinkActive="active"
          >
          </app-link>
        </li>
        <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
          <app-link customClass="" [label]="'Errors'" routerLink="/errors">
            Errors
          </app-link>
        </li>
        <li class="nav-item d-none d-lg-block">
          <app-dropdown-link
            [thumbnail]="
              user.photoUrl ? user.photoUrl : './assets/shared/user.png'
            "
            customClass="dropdown-menu-right"
            ariaControls="account-dropdown"
            id="account-dropdown"
          >
            <li class="dw-item" role="menuitem">
              <img
                [src]="user.photoUrl"
                alt=""
                width="37"
                heigh="37"
                class="rounded-circle me-2"
              />
              {{ user.knownAs || user.username }}
            </li>
            <li class="dw-item" class="divider dropdown-divider"></li>
            <li class="dw-item" role="menuitem">
              <app-link
                label="Edit Profile"
                routerLink="/main/dashboard"
                customClass="black"
              >
              </app-link>
            </li>
            <li class="dw-item" class="divider dropdown-divider"></li>
            <li class="dw-item" role="menuitem logout">
              <div class="d-flex justify-content-between align-items-center">
                <div><i class="fa-solid fa-globe me-2"></i> English</div>
                <app-button customClass="ms-auto" (click)="logout()">
                  Logout
                </app-button>
              </div>
            </li>
          </app-dropdown-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
