.navbar {
  background-color: var(--primary);
}

.nav-item {
  margin: 0.5rem;
}

.flex-base-full {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}

.dw-item {
  padding: 1rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  .main-link {
    color: var(--black) !important;
  }
}

.logout {
  margin-left: auto;
}
