<header>
  <nav
    class="navbar navbar-expand bg-white shadow-lg"
    [ngClass]="{ 'fixed-top': navbarFixed }"
    *ngIf="user"
  >
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img
          width="180"
          class="img-fluid"
          src="./assets/shared/together-logo-6.svg"
          alt="Get together Logo"
        />
      </a>
      <div class="" [collapse]="isCollapsed">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item" *ngIf="user">
            <app-link
              customClass=""
              icon="fa-regular fa-id-card"
              [label]="user.knownAs"
              tooltip="Profile"
              routerLink="/main"
              routerLinkActive="active"
            >
            </app-link>
          </li>
          <li class="nav-item">
            <app-link
              customClass=""
              icon="fa-regular fa-square-caret-down"
              [label]="'Menu'"
              tooltip="Menu"
              routerLink="/"
              routerLinkActive="active"
            >
            </app-link>
          </li>
          <li class="nav-item">
            <app-link
              customClass=""
              icon="fa-solid fa-people-arrows"
              [label]="'Members'"
              tooltip="Members"
              routerLink="/main/members"
              routerLinkActive="active"
            >
            </app-link>
          </li>
          <li class="nav-item">
            <app-dropdown-link
              label="Message"
              customClass="dropdown-menu-right messsage-dropdown"
              tooltip="Message"
              ariaControls="message-dropdown"
              id="message-dropdown"
            >
              <li class="dw-item" role="menuitem">Chats</li>
              <li class="dw-item" role="menuitem">
                <app-message-overview></app-message-overview>
              </li>
            </app-dropdown-link>
          </li>

          <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
            <app-link
              routerLink="/main/admin"
              customClass="circle icon"
              tooltip="Admin"
            >
              Admin
            </app-link>
          </li>
          <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
            <app-link routerLink="/errors" customClass="" tooltip="Errors">
              Errors
            </app-link>
          </li>
          <li class="nav-item">
            <app-dropdown-link
              [thumbnail]="user.photoUrl"
              customClass="dropdown-menu-right"
              ariaControls="account-dropdown"
              id="account-dropdown"
            >
              <li class="dw-item" role="menuitem">
                <img
                  [src]="user.photoUrl"
                  alt=""
                  width="37"
                  heigh="37"
                  class="rounded-circle me-2"
                />
                Changsoo Cho
              </li>
              <li class="dw-item" class="divider dropdown-divider"></li>
              <li class="dw-item" role="menuitem">
                <app-link label="Edit Profile" routerLink="/main/profile/edit">
                </app-link>
              </li>
              <li class="dw-item" class="divider dropdown-divider"></li>
              <li class="dw-item" role="menuitem logout">
                <div class="d-flex justify-content-between align-items-center">
                  <div><i class="fa-solid fa-globe me-2"></i> English</div>
                  <app-button customClass="ms-auto" (click)="logout()">
                    Logout
                  </app-button>
                </div>
              </li>
            </app-dropdown-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
