<div class="container my-5" *ngIf="project">
  <div class="row">
    <div class="col-lg-8">
      <app-panel>
        <div class="project-container pt-xl-5">
          <div class="row">
            <div class="col-12 text-center">
              <div>
                <h2 class="title">{{ project.name }}</h2>
                <div class="date">
                  {{ project.projectStarted | date : "MMM y" }} -
                  {{ project.projectEnded | date : "MMM y" }}
                </div>
              </div>
            </div>
            <div class="offset-md-2 col-md-8 mb-5">
              <div class="px-4">
                <swiper
                  class="project-swiper"
                  [config]="config"
                  *ngIf="project.images.length; else noImage"
                >
                  <ng-template
                    swiperSlide
                    *ngFor="let image of project.images; let i = index"
                  >
                    <img
                      [src]="image.url"
                      alt=""
                      class="user-thumbnail square"
                    />
                  </ng-template>
                </swiper>
                <ng-template #noImage>
                  <img
                    src="./assets/shared/icons/icon-not-found.svg"
                    class="user-thumbnail square"
                    alt=""
                  />
                </ng-template>
              </div>
            </div>
            <div class="col-xl-12">
              <div class="px-md-3 p-xl-5">
                <div class="mb-3">
                  <h3 class="sub-title">Description</h3>
                  <p class="description">{{ project.description }}</p>
                </div>
                <div class="mb-3">
                  <h3 class="sub-title">Features</h3>
                  <p class="description">{{ project.mainFeature }}</p>
                </div>
                <div class="team-members mb-3">
                  <h3 class="sub-title">Teams</h3>
                  <a
                    *ngFor="let teamMember of project.teamMembers"
                    [routerLink]="['/main/members/', teamMember.username]"
                  >
                    <img
                      src="{{ teamMember.photoUrl }}"
                      class="rounded-circle mr-1"
                      alt="Avatar"
                      width="28"
                      height="28"
                    />
                  </a>
                </div>
                <hr />

                <div class="mb-3">
                  <h3 class="sub-title">Status</h3>
                  <div class="mb-2">
                    <span class="badge bg-success me-2 mb-2"
                      >{{ getStatus(project.status) }}
                    </span>
                  </div>
                </div>
                <div class="mb-3">
                  <h3 class="sub-title">Project Progress</h3>
                  <progressbar
                    [max]="100"
                    [value]="project.progress || 0"
                    type="success"
                    [striped]="true"
                    [animate]="true"
                  >
                    <i>{{ project.progress || 0 }} / 100</i>
                  </progressbar>
                </div>
                <hr />
                <div class="tech-item">
                  <div class="content">
                    <a
                      href="{{ project.githubUrl }}"
                      target="_blank"
                      class="d-block mb-2"
                    >
                      <img
                        src="/assets/shared/icons/github.svg"
                        width="30"
                        alt=""
                      />
                      {{ project.githubUrl }}
                    </a>

                    <div>
                      <a
                        href="{{ project.url }}"
                        target="_blank"
                        class="d-block mb-2"
                      >
                        <img
                          src="/assets/shared/icons/website.svg"
                          width="30"
                          alt=""
                        />
                        {{ project.url }}
                      </a>
                    </div>
                  </div>
                </div>

                <hr />
                <div class="tech-item">
                  <div class="content">
                    <span
                      *ngFor="let skill of parseSkills(project.frontEnd)"
                      class="badge bg-dark me-2 mb-2"
                      >{{ skill }}
                    </span>
                  </div>
                </div>
                <!-- <div class="tech-item">
                  <div class="label">Backend</div>
                  <div class="content">{{ project.backEnd }}</div>
                </div> -->
                <!-- <div class="tech-item">
                  <div class="label">Database</div>
                  <div class="content">{{ project.database }}</div>
                </div> -->

                <div class="tech-item">
                  <div class="content">
                    <span
                      *ngFor="let skill of ['Heroku', 'Docker']"
                      class="badge bg-dark me-2 mb-2"
                      >{{ skill }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-panel>

      <app-panel customClass="no-height">
        <div class="heading-3">
          {{ "Other Projects" }}
        </div>
      </app-panel>
      <div
        class="row p-xl-3"
        *ngIf="otherProjects && otherProjects.length; else noData"
      >
        <swiper
          [pagination]="{
            clickable: false,
            dynamicBullets: false
          }"
          [navigation]="true"
          [slidesPerView]="2"
          [spaceBetween]="10"
          [centeredSlides]="false"
          [centeredSlidesBounds]="false"
          [preventClicks]="false"
          [preventClicksPropagation]="false"
          class="other-project-swiper"
        >
          <ng-template swiperSlide *ngFor="let p of otherProjects">
            <div>
              <app-project-card [project]="p"></app-project-card>
            </div>
          </ng-template>
        </swiper>
      </div>
      <ng-template #noData>
        <!-- <app-no-data [key]="'data'" *ngIf="!loading"></app-no-data> -->
      </ng-template>
    </div>

    <div class="col-lg-4">
      <app-panel customClass="no-padding no-height">
        <app-connection-card
          [member]="project.user"
          [noImage]="true"
        ></app-connection-card>
      </app-panel>

      <app-panel title="Project's Gallery" customClass="no-height">
        <div
          class="row"
          gallerize
          *ngIf="project.images.length; else noGallery"
        >
          <div
            class="col-md-3 mb-3"
            *ngFor="let image of project.images"
            gallerize
          >
            <img [src]="image.url" alt="" class="w-100" />
          </div>
        </div>
        <ng-template #noGallery>
          <div class="text-center my-4">
            No images to show. Please upload some photos.
          </div>
          <div class="my-4 text-center">
            <app-button>Upload picture</app-button>
          </div>
        </ng-template>
      </app-panel>
    </div>
    <div class="text-end m-3">
      <app-link customClass="primary" (click)="goBack()">
        <i class="fa-solid fa-arrow-right"></i>
        <span class="ms-3">Go back to projects</span>
      </app-link>
    </div>
  </div>
</div>
