.project-container {
  width: 100%;
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .date {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-light);
    text-align: center;
    opacity: 0.8;
  }
  .intro {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .description {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .tech-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    .label {
      min-width: 12rem;
      font-weight: 900;
      &::before {
        content: "✔";
        display: inline;
        padding-right: 0.5rem;
      }
    }

    .text-field {
    }
  }
}
