<div *ngIf="formControl" class="">
  <input
    [id]="label"
    [class.is-invalid]="formControl.touched && formControl.invalid"
    [ngClass]="{ 'size-lg': size }"
    type="{{ type }}"
    class="form-control"
    [formControl]="formControl | formControl"
    [class]="customClass"
  />
  <div *ngIf="formControl.errors?.required" class="invalid-feedback">
    Please enter a {{ label }}
  </div>
  <div *ngIf="formControl.errors?.minlength" class="invalid-feedback">
    {{ label }} must be at least
    {{ formControl.errors?.minlength["requiredLength"] }}
  </div>
  <div *ngIf="formControl.errors?.maxlength" class="invalid-feedback">
    {{ label }} must be at most
    {{ formControl.errors?.maxlength["requiredLength"] }}
  </div>
  <div *ngIf="formControl.errors?.isMatching" class="invalid-feedback">
    Passwords do not match
  </div>
</div>

<!-- <div>
  *ngIf="ngControl.control" color="black"
  <label for="validationCustom03">{{ label }}</label>
  <input
    type="text"
    class="form-control"
    [formControl]="ngControl.control | formControl"
    id="validationCustom03"
    [placeholder]="label"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
  />
  <div class="invalid-feedback">Please provide a valid city.</div>
</div> -->

<!-- <mat-form-field class="text-input" appearance="fill" *ngIf="ngControl.control" color="black">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matSuffix>verified_user</mat-icon>
  <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{ type }}"
    matInput
    [formControl]="ngControl.control | formControl"
    placeholder="{{ label }}"
  />
  <mat-error *ngIf="ngControl.control?.errors?.required">
    Please enter a {{ label }}
  </mat-error>
  <mat-error *ngIf="ngControl.control?.errors?.minlength">
    {{ label }} must be at least
    {{ ngControl.control.errors?.minlength["requiredLength"] }}
  </mat-error>
  <mat-error *ngIf="ngControl.control?.errors?.maxlength">
    {{ label }} must be at most
    {{ ngControl.control.errors?.maxlength["requiredLength"] }}
  </mat-error>
  <mat-error *ngIf="ngControl.control?.errors?.isMatching">
    Passwords do not match
  </mat-error>
</mat-form-field> -->

<!-- <div class="mb-3">
  <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{ type }}"
    class="form-control"
    [formControl]="ngControl.control"
    placeholder="{{ label }}"
  />
</div> -->
