.form-control {
  border: .1rem solid #ccc;
  border-radius: .5rem;
  box-sizing: border-box;
  color: var(--black);
  flex: 0 1 355px;
  font-size: 1.4rem;
  height: 32px;
  padding: 0 10px;
  width: 100%;
}

.size-lg {
  height: 52px;
  font-size: 17px;
}
