<div *ngIf="formControl" class="">
  <input
    [id]="label"
    [class.is-invalid]="formControl.touched && formControl.invalid"
    [ngClass]="{ 'size-lg': size }"
    type="{{ type }}"
    class="form-control"
    [formControl]="formControl | formControl"
    [class]="customClass"
  />
  <div *ngIf="formControl.errors?.required" class="invalid-feedback">
    Please enter a {{ label }}
  </div>
  <div *ngIf="formControl.errors?.minlength" class="invalid-feedback">
    {{ label }} must be at least
    {{ formControl.errors?.minlength["requiredLength"] }}
  </div>
  <div *ngIf="formControl.errors?.maxlength" class="invalid-feedback">
    {{ label }} must be at most
    {{ formControl.errors?.maxlength["requiredLength"] }}
  </div>
  <div *ngIf="formControl.errors?.isMatching" class="invalid-feedback">
    Passwords do not match
  </div>
</div>