<section>
  <div class="container">
    <div class="row my-5">
      <div class="col">
        <app-member-search (paramsEmit)="search($event)"></app-member-search>
      </div>
    </div>
  </div>
</section>
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-10">
        <div class="row">
          <ng-container *ngIf="members && members.length; else noData">
            <div
              class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4"
              *ngFor="let member of members"
            >
              <app-member-card [member]="member"></app-member-card>
            </div>
          </ng-container>
          <ng-template #noData>
            <div class="no-data">
              <i class="no-data-icon fa-solid fa-people-group"></i>
              <div class="main-text-2">NO PEOPLE FOUND</div>
              <div class="connection-btn">
                <button class="main-btn">Please Go Find People!</button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
