<div class="connection-card" *ngIf="member">
  <a href="" class="member-link" routerLink="/members/{{ member.username }}">
    <div class="image">
      <img
        class="w-100"
        src="{{ member.photoUrl || './assets/shared/user.png' }}"
        alt="{{ member.knownAs }}"
      />
    </div>
  </a>
  <div class="body">
    <div class="action-btns mb-2">
      <button (click)="removeLike(member)" class="badge-btn action-icon">
        <div class="member-badge circle is-liked">
          <i class="fa-solid fa-heart"></i>
        </div>
      </button>
    </div>
    <div class="d-flex align-items-center">
      <a href="" class="name-link" routerLink="/members/{{ member.username }}">
        {{ member.username }}
      </a>
    </div>
    <div class="city">
      <!-- {{ member.city }} -->
      Software Developer
    </div>
    <div class="status">
      <div
        *ngIf="
          (presence.onlineUsers$ | async)!.includes(member.username);
          else offline
        "
      >
        <div>
          <i class="fa-solid fa-circle is-online"></i>
          <span class="ps-2">ONLINE</span>
        </div>
      </div>
      <ng-template #offline>
        <div>
          <i class="fa-regular fa-circle"></i> <span class="ps-2">OFFLINE</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
