@import "_typography";

.timeline {
  width: 100%;
  background: var(--white);
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: calc(10rem);
    bottom: 0px;
    width: 0.3rem;
    background: var(--primary-light);
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
