@import "../node_modules/driver.js/dist/driver.min.css";
@import "~swiper/swiper-bundle.css";
/* You can add global styles to this file, and also import other style files */

:root {
  --peach: #ffbf90;
  --red: #f36870;
  --celadon: #ced6ca;
  --champagne: #f0eae7;
  --white: rgba(255, 255, 255, 0.9);
  --wash: #f0f2f5;

  --black: #555;
  --dark-blue: #2b4560;
  --tiffany-blue: #6aa4b0;
  --ivory: #e1e7e0;
  --midnight-blue: #2f6d80;
  --light-green: #06828c;
  --dark-green: #1a5f78;
  --amber: #fcb900;
  --purple: #617dc6;

  --COLOR_decoration_100-h: 195;
  --COLOR_decoration_100-s: 64%;
  --COLOR_decoration_100-l: 28%;
  --COLOR_decoration_100-a: 1;

  --COLOR_mainBrand_100: hsla(184, 91%, 28%, 1);
  --COLOR_mainBrand_100-h: 184;
  --COLOR_mainBrand_100-s: 91%;
  --COLOR_mainBrand_100-l: 28%;
  --COLOR_mainBrand_100-a: 1;
}

html {
  font-size: 62.5% !important;
}
body {
  font-size: 1.6rem;
  position: relative;
  height: 100%;
  background-color: var(--main-bg-white);

  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;

  --peach: #ffbf90;
  --red: #f36870;
  --celadon: #ced6ca;
  --champagne: #f0eae7;
  --white: rgba(255, 255, 255, 0.9);
  --wash: #f0f2f5;

  --black: #555;
  --dark-blue: #2b4560;
  --tiffany-blue: #6aa4b0;
  --ivory: #e1e7e0;
  --midnight-blue: #2f6d80;
  --light-green: #06828c;
  --dark-green: #1a5f78;
  --amber: #fcb900;
  --purple: #617dc6;
  --main-bg-white: hsla(0, 0%, 0%, 0.05);
  --dark-shadow: hsla(240, 2%, 60%, 1);
  --light-shadow: hsla(0, 0%, 0%, 0.15);
  --t-black: hsla(0, 0%, 0%, 0.6);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

.user-thumbnail {
  width: 150px;
  width: 15rem;
  border-radius: 50%;
  max-width: 100%;
  &.square {
    border-radius: 3rem;
    width: 100%;
  }
  &.size-xl {
    width: 300px;
    width: 30rem;
  }
  &.size-lg {
    width: 250px;
    width: 25rem;
  }
  &.size-md {
    width: 200px;
    width: 20rem;
  }
  &.size-sm {
    width: 150px;
    width: 15rem;
  }
  &.size-xs {
    width: 70px;
    width: 7rem;
  }
  &.user-border {
    border: 0.2rem solid var(--white);
  }
}

.member-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--t-black);
  padding: 0.25rem 1rem;
  border-radius: 10rem;
  color: var(--white);
  &.circle {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
  }
  &.is-liked {
    color: var(--red) !important;
  }
}

.no-data {
  color: var(--dark-shadow);
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  & .no-data-icon {
    color: var(--light-shadow);
    width: 20rem;
    height: 20rem;
    margin-bottom: 2rem;
  }
}

//

.mat-icon-button {
  color: var(--dark-blue) !important;
}
.mat-raised-button {
  width: 100%;
  background-color: var(--amber);
  color: var(--white);
}

.mat-form-field {
  width: 100%;
  height: 70px;
  height: 7rem;
}

.mat-form-field-label {
  color: var(--black) !important;
}
.mat-form-field-underline {
  background-color: var(--black) !important;
}

.mat-form-field-flex {
  background-color: var(--white) !important;
  border-radius: 4px !important;
}
.mat-form-field-ripple {
  background-color: transparent !important;
}
.mat-form-field-underline {
  background-color: transparent !important;
  &::before {
    height: 0 !important;
  }
}

.mat-focused {
  .mat-form-field-underline {
    background-color: transparent !important;
  }
  .mat-form-field-ripple {
    background-color: transparent !important;
  }
}

// MAT DATEPICKER
.mat-calendar-body-selected {
  background-color: var(--dark-blue);
  color: #fff;
}

// MAT TOGGLE
.mat-button-toggle-checked {
  background-color: var(--white);
  border-bottom: 3px solid var(--light-green) !important;
}

// BUTTONS
.badge-btn {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  color: var(--white);
  padding: 0;
}
.main-btn {
  background-color: hsla(184, 91%, 28%, 1);
  border: none;
  box-shadow: 0 5px 14px 2px rgb(0, 0, 0, 0.2);
  color: var(--white);
  padding: 1rem 3rem;
  border-radius: 10rem;
  transform: translateY(-0.2rem);
  transition: all 0.15s ease-in-out;
  &.white {
    background-color: var(--white);
    color: var(--black);
  }
  &:active {
    transform: translateY(0);
  }
}

.mySwiper {
  .swiper-pagination-bullet-active {
    background-color: var(--light-green) !important;
  }
}
