@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "../node_modules/swiper/swiper-bundle.css";
@import "../node_modules/@angular/cdk/overlay-prebuilt.css";
@import "_typography";
@import "_base";
@import "_layout";
@import "_navs";
@import "_progress";
@import "_swiper";

/* You can add global styles to this file, and also import other style files */

:root {
  --base: #f0f2f5;
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.4);
  --black: #656565;
  --black-transparent: rgba(0, 0, 0, 0.25);
  --black-transparent-more: rgba(0, 0, 0, 0.05);

  --red: #dc3545;
  --primary: #004b89;

  --primary-transparent: rgba(25, 118, 210, 0.1);
  --primary-light: #e0e8f0;
  --danger: #dc3545;
  --info: #08c;

  --text-main: #656565;
  --text-lighter: rgba(0, 0, 0, 0.25);
  --text-light: #444;

  --scroll-main: #ebebeb;
  --scroll-dark: #6d6d6d;

  --border-main: #d9d9d9;
  --placeholder: #d9d9d9;

  --online: #00bf63;
  --offline: #00bf63;
  --gradient: linear-gradient(90deg, hsla(4, 82%, 63%, 1), #f89637);
}

html {
  font-size: 62.5% !important;
}
body {
  font-size: 1.4rem;
  position: relative;
  height: 100%;
  background-color: var(--base);
  color: var(--text-main);
  line-height: 1;
  margin: 0;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

p {
  @extend .text-2;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.75rem;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-main);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--scroll-dark);
}

// .member-badge {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: var(--text-main);
//   padding: 0.25rem 1rem;
//   border-radius: 10rem;
//   color: var(--white);
//   &.circle {
//     border-radius: 50%;
//     width: 3rem;
//     height: 3rem;
//     padding: 0.5rem;
//   }
//   &.is-liked {
//     color: var(--danger) !important;
//   }
// }

.pagination {
  .page-item {
    &.active {
      .page-link {
        color: var(--white);
        background-color: var(--primary);
        border: 1px solid transparent;
      }
    }
  }
  
  & &-first,
  & &-prev,
  & &-next,
  & &-last {
    height: 3rem;
    & .page-link {
      color: var(--text-main);
      font-size: 2rem;
      --bs-pagination-font-size: 2rem;
    }
  }

  & &-page {
    height: 3rem;
    .page-link {
      color: var(--text-main);
      padding-top: 0.7rem;
      font-size: 1.6rem;
      --bs-pagination-font-size: 1.5rem;
    }
  }
}

.show {
  transition: all 0.3s ease;
}
