@import "../node_modules/driver.js/dist/driver.min.css";
@import "~swiper/swiper-bundle.css";
/* You can add global styles to this file, and also import other style files */
body {
  font-size: 62.5%;
  position: relative;
  height: 100%;
  color: #fff;
  background: #303030;
  margin: 0;
}

.container {
  @media screen and (max-width: 567px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.container-wrapper {
  margin: 24px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.img-circle {
  border-radius: 50% !important;
  max-width: 100%;
  padding: 0.1rem;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-half-width {
  width: 60%;
  margin-bottom: 0.25rem;
}

.demo-table {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-wrapper {
  padding-bottom: 1.34375em;
  padding-top: 1.34375em;
}
