.visitor {
  width: 100%;
  .no-data {
    color: var(--dark-shadow);
    text-align: center;
    margin-bottom: 2rem;
    & .no-data-icon {
      color: var(--light-shadow);
      width: 20rem;
      height: 20rem;
      margin-bottom: 2rem;
    }
    & .no-data-btn {
      text-align: right;
    }
  }
}
