<div class="table-responsive p-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Features</th>
        <th>Started</th>
        <th>Completed</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="!projects || !projects.length">
      <td [colSpan]="6">
        <app-no-data [key]="'data'"></app-no-data>
      </td>
    </tbody>
    <tbody *ngIf="projects">
      <tr *ngFor="let project of projects" class="table-row">
        <td>
          <div
            class="table-image"
            [ngStyle]="{
              'background-image': project.images.length
                ? 'url(' + project.images[0].url + ')'
                : 'url(' + '/assets/shared/user.png' + ')'
            }"
          ></div>
        </td>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.mainFeature }}</td>
        <td>{{ project.projectStarted | date : "MMM yyyy" }}</td>
        <td>{{ project.projectEnded | date : "MMM yyyy" }}</td>
        <td>
          <app-dropdown-link
            label=""
            [customClass]=""
            [icon]="'fa-solid fa-ellipsis'"
          >
            <li role="menuitem">
              <a
                class="dropdown-item"
                [routerLink]="'/main/projects/' + project.id"
                >View project</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Set as private</a>
            </li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                routerLink="/main/dashboard/projects/{{ project.id }}"
                >Edit project</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Delete project</a>
            </li>
          </app-dropdown-link>

          <!-- <div class="btn-group" dropdown>
            <button
              id="project-action"
              dropdownToggle
              type="button"
              class="btn"
              aria-controls="project-action"
            >
              <i class="fa-solid fa-ellipsis"></i>
            </button>
          </div> -->
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end" *ngIf="pagination">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
