<div *ngIf="experienceForm">
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-info" *ngIf="experienceForm.dirty">
        <strong>Information: </strong> You have made changes. Any unsaved
        changes will be lost
      </div>
    </div>
  </div>
  <form [formGroup]="experienceForm" id="experienceForm">
    <div class="row">
      <div class="col-md-8">
        <app-panel
          title="Experience Info"
          sub="Give a quick overview about your experience"
        >
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="employer" class="label"> Company </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'companyName'"
                [formControl]="
                  experienceForm.controls['companyName'] | formControl
                "
                class="theme-green"
              >
              </app-text-input>
              <p class="main-text-1 description">
                The position when you are / were working
              </p>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="position" class="label"> Position </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'position'"
                [formControl]="
                  experienceForm.controls['position'] | formControl
                "
                class="theme-green"
              >
              </app-text-input>
              <p class="main-text-1 description">
                The position when you are / were working
              </p>
            </div>
          </div>
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="intro" class="label"> Introduction </label>
            </div>
            <div class="offset-md-1 col-md-8">
              <app-textarea-input
                [rows]="2"
                [label]="'intro'"
                [formControl]="experienceForm.controls['intro'] | formControl"
                class="theme-green"
              >
              </app-textarea-input>
              <p class="main-text-1 description">
                Please give us a brief introduction about the company and your
                work
              </p>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Job Description Info"
          sub="Name this project and describe it to your visitors"
        >
          <div class="my-2 text-end">
            <app-button
              tooltip="Add job description"
              placement="right"
              (click)="addJobDescription()"
            >
              <i class="fa-solid fa-plus"></i>
            </app-button>
          </div>
          <div [formGroup]="experienceForm">
            <div formArrayName="jobDescriptions">
              <ng-container
                *ngFor="let jdForm of jobDescriptions.controls; let j = index"
                [formGroup]="jdForm | formGroup"
              >
                <app-job-description-edit [jdForm]="jdForm | formGroup">
                </app-job-description-edit>
              </ng-container>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Skills Info"
          sub="Add Skills that you used"
          customClass="no-height "
        >
          <div class="row">
            <div class="offset-md-1 col-md-9">
              <div class="d-flex align-items-center mb-3">
                <div *ngFor="let skill of skills" class="mx-2">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="deleteSkill(skill)"
                  >
                    {{ skill.name }} <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
              </div>
              <input
                formControlName="skill"
                [typeahead]="dataSource"
                [typeaheadAsync]="true"
                typeaheadOptionField="name"
                (typeaheadNoResults)="typeaheadNoResults($event)"
                (typeaheadOnSelect)="typeaheadOnSelect($event)"
                placeholder="Please Add skills"
                class="form-control"
              />
              <div class="py-3" *ngIf="noResult">
                <app-button (click)="addSkill()">Add Skill</app-button>
              </div>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Additional Info"
          sub="Project that you have worked on"
        >
          <div class="row align-items-center mb-3">
            <div class="col-md-2 text-end">
              <label for="url" class="label"> Url </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'Url'"
                [formControl]="experienceForm.controls['url'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="started" class="label"> Job Started </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-date-input
                [label]="'Job started'"
                [maxDate]="maxDate"
                [formControl]="experienceForm.controls['started'] | formControl"
                class="theme-green"
              >
              </app-date-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="ended" class="label"> Job Ended </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-date-input
                [label]="'Job Ended'"
                [maxDate]="maxDate"
                [formControl]="experienceForm.controls['ended'] | formControl"
                class="theme-green"
              >
              </app-date-input>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Experience Images"
          sub="Upload image that represents your experience."
          customClass="no-height"
        >
          <div class="row mb-5">
            <div class="col-md-12">
              <app-photo-upload
                *ngIf="uploaderReady"
                #photoUpload
                [photos]="experience?.logos"
                [single]="true"
                (delete)="deletePhoto($event)"
              ></app-photo-upload>
            </div>
          </div>
        </app-panel>
        <div class="row align-items-start mb-3">
          <div class="col-md-12 text-end">
            <button
              [disabled]="!experienceForm.dirty && !skills.length"
              form="experiencesForm"
              type="submit"
              class="btn btn-success btn-block"
              (click)="saveExperience()"
            >
              Save Changes
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-panel customClass="no-height">
          <div class="d-flex align-items-center">
            <div>
              Hide this project
              <i class="ms-2 fa-regular fa-circle-question"></i>
            </div>
            <div class="ms-auto">
              <button>a</button>
            </div>
          </div>
        </app-panel>

        <app-panel customClass="no-height">
          <div class="row">
            <div class="col-md-8">
              <div class="">
                <p>
                  NEED Help?
                  <i class="ms-2 fa-regular fa-circle-question"></i>
                </p>
                <p>
                  Get phone support or start a live chat with our Customer Care
                  team.
                </p>
                <div>
                  <app-link label="Contact Support"></app-link>
                </div>
              </div>
            </div>
          </div>
        </app-panel>
      </div>
    </div>
  </form>
</div>
