@import "_typography";
.experience {
  margin: 1rem 0;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--transparent-more);
  overflow: hidden;
  padding: 1.5rem;
  text-align: left;
  position: relative;

  .img-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 15rem;
      height: 15rem;
      // object-fit: cover;
      border-radius: 50%;
      border: 3px solid var(--white);
    }
  }

  .content {
    color: var(--text-main);

    .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .position {
        @extend .heading-3;
        color: var(--text-main);
        font-weight: 900;
      }

      .company-name {
        @extend .text-1;
      }
    }

    .job-date {
      color: var(--text-main);
      margin-top: 0.5rem;
    }

    .company-description {
      @extend .text-3;
    }

    .description {
      @extend .text-3;

      .description-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .description {
          @extend .text-2;
          color: var(--text-main);
        }

        .job-date {
          @extend .text-2;
          color: var(--text-main);
          margin-top: 0.5rem;
        }
      }

      .job-detail {
        font-size: 1.1rem;
        margin-top: 0.5rem;
      }
    }
  }

  .dropdown-link {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
