@import "_typography";

.experience {
  @extend .text-1;
  text-align: left;
  position: relative;
  .content {
    position: relative;
    margin-left: 3rem;
    .content-header {
      @extend .heading-4;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  .img-box {
    position: relative;
    padding-right: 3rem;
    &::before {
      content: " ";
      position: absolute;
      height: 100%;
      width: 0.1rem;
      right: 0;
      background-color: var(--black-transparent);
    }
  }
  & img {
    background-color: var(--black-transparent);
    padding: 1rem;
  }
  .position {
    @extend .heading-2;
    font-weight: 500;
  }

  .company-name {
    @extend .text-1;
    color: var(--text-light);
    margin-bottom: 0.5rem;
  }
  .working-date {
    padding-bottom: 1rem;
    font-weight: 400;
    // font-size: 1.1rem;
    color: var(--text-light);
  }

  .company-description {
    padding-bottom: 1rem;
  }

  .description {
    margin-bottom: 1.5rem;
    .description-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
    }
    .description-title {
      @extend .text-1;
      color: var(--text-main);
      margin-bottom: 0.5rem;
    }
    .job-date {
      @extend .text-3;
      color: var(--text-light);
    }
    .job-detail {
      @extend .text-2;
      color: var(--text-main);
      margin-left: 2rem;
    }
  }
}
