.member {
  position: relative;
  color: var(--white);

  .header-background {
    z-index: 1;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    min-height: calc(50vh - 64px);
    z-index: 1;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-image: linear-gradient(
      69deg,
      hsla(
        var(--COLOR_decoration_100-h),
        var(--COLOR_decoration_100-s),
        var(--COLOR_decoration_100-l),
        0.6
      ),
      hsla(
          var(--COLOR_mainBrand_100-h),
          var(--COLOR_mainBrand_100-s),
          var(--COLOR_mainBrand_100-l),
          0.6
        )
        100%
    );

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--shadow);
      top: 0;
      left: 0;
      z-index: -1;
    }

    & .member-info {
      height: 100%;
      font-size: 20px;
      font-size: 1.8rem;
      padding: 0 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & .member-settings {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      & .last-visit {
        font-size: 1.2rem;
        letter-spacing: 1px;
        display: inline-block;
      }
    }
    & .member-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & .member-name {
        font-size: 40px;
        font-size: 4rem;
        margin-right: 4px;
        line-height: 1.5;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & .member-age {
        font-weight: 400;
      }
      & .member-job {
        font-weight: 300;
        margin-bottom: 2rem;
      }

      & .distance {
        padding: 0.1rem 0.75rem;
        border-radius: 1rem;
        background-image: var(--gradient);
      }
    }
  }

  & .action-groups {
    & button {
      font-size: 1.5rem;
      margin: 1rem;
    }
    display: flex;
    align-items: center;
    color: var(--white);
    & .action-link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      margin: 1rem;
      text-decoration: none;
      border: 0.1rem solid var(--white);
      border-radius: 50%;
      color: var(--white);
      transition: all 0.3s ease;
      & .action-icon {
        width: 3rem;
        height: 3rem;
      }

      &:hover {
        background-color: var(--shadow);
      }
    }
  }

  .move-over {
    z-index: 10;
    margin-top: -5rem;
    position: relative;
    margin-bottom: 3rem;
  }
}

.tech-item {
  min-width: 12rem;
  font-weight: 500;
  &::before {
    content: "✔";
    display: inline;
    padding-right: 0.5rem;
  }
}
