<section class="member" *ngIf="member">
  <div class="header-background">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-4">
          <img
            class="user-thumbnail square"
            width="40"
            [src]="member.photoUrl || './assets/user.png'"
            [alt]="member.username"
          />
        </div>
        <div class="col-md-6">
          <div class="member-info">
            <div class="member-settings">
              <button class="badge-btn" (click)="addOrRemoveLike(member)">
                <div
                  class="member-badge"
                  [ngClass]="{
                    'is-liked': isLiked
                  }"
                >
                  <i class="fa-solid fa-heart me-2"></i>
                  <span class="text-white">
                    {{ member.likedByUsers.length }}
                  </span>
                </div>
              </button>
              <button class="badge-btn" [matMenuTriggerFor]="menu">
                <span class="member-badge circle">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addOrRemoveLike(member)">
                  {{ isLiked ? "Remove Favourite" : "Add Favourite" }}
                </button>
                <button mat-menu-item>Send message</button>
              </mat-menu>
            </div>
            <div class="member-content">
              <div></div>
              <div>
                <div class="member-name">
                  {{ member.username }},
                  <span class="member-age">{{ member.age }}</span>
                </div>
                <div class="member-job">Occupation</div>
                <div class="last-visit">
                  <span class="member-badge">
                    Last Login:
                    <strong class="ms-2">{{
                      member.lastActive | timeago
                    }}</strong>
                  </span>
                </div>
              </div>

              <div class="action-groups">
                <div>
                  <button
                    href=""
                    class="main-btn"
                    (click)="addOrRemoveLike(member)"
                  >
                    {{ isLiked ? "Remove Favourite" : "Add Favourite" }}
                  </button>
                </div>
                <div>
                  <button class="main-btn">About {{ member.knownAs }}</button>
                </div>
                <div>
                  <button class="main-btn white">Send Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container move-over">
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="panel white bg-white">
          <article class="member-card">Project</article>
          <article class="member-card">Interest</article>
          <article class="member-card">Resume</article>
        </div>
      </div>
    </div>
  </div>
</section>
