<div class="project" *ngIf="project">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="title">{{ project.name }}</h3>
        <div class="date">
          {{ project.projectStarted | date : "MMM y" }} -
          {{ project.projectEnded | date : "MMM y" }}
          {{ project.projectWith }}
        </div>
      </div>
      <div class="col-xl-6 mb-5">
        <swiper
          [pagination]="{
            dynamicBullets: true,
            clickable: true
          }"
          [spaceBetween]="20"
          class="mySwiper"
        >
          <ng-template
            swiperSlide
            *ngFor="let image of member.photos; let i = index"
          >
            <img [src]="image.url" alt="" class="user-thumbnail square" />
          </ng-template>
        </swiper>
        <!-- <swiper
        [pagination]="{
          dynamicBullets: true,
          clickable: true
        }"
        [spaceBetween]="20"
        class="mySwiper"
      >
        <ng-template
          swiperSlide
          *ngFor="let image of galleryImages; let i = index"
        >
        </ng-template>
      </swiper> -->
      </div>
      <div class="col-xl-6 mb-5">
        <div class="intro mb-4">
          {{ project.intro }}
        </div>
        <div class="description mb-4">{{ project.description }}</div>

        <hr />

        <div class="tech-item">
          <div class="label">Main Feature</div>
          <div class="text-field">
            내가 생각하는 나의 성격 검사하기, 친구에게 나의 성격 평가 부탁하기,
            나의 성격에 대한 나와 친구의 검사 결과 비교하기
          </div>
        </div>
        <div class="tech-item">
          <div class="label">Github</div>
          <div class="">
            <a href="">{{ project.githubUrl }}</a>
          </div>
        </div>
        <div class="tech-item">
          <div class="label">URL</div>
          <div>
            <a [href]="project.url">{{ project.url }}</a>
          </div>
        </div>
        <div class="tech-item">
          <div class="label">Frontend</div>
          <div>{{ project.frontEnd }}</div>
        </div>
        <div class="tech-item">
          <div class="label">Backend</div>
          <div>{{ project.backEnd }}</div>
        </div>
        <div class="tech-item">
          <div class="label">Database</div>
          <div>{{ project.database }}</div>
        </div>

        <div class="tech-item">
          <div class="label">Deployment</div>
          <div>{{ project.deployement }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
