.no-data {
  color: var(--text-light);
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--base);
  height: 100%;
  & .no-data-icon {
    color: var(--text-light);
    width: 18rem;
    height: 18rem;
    margin-bottom: 2rem;
  }
}
