<section class="my-5">
  <div class="container">
    <div class="row message-box">
      <div class="col-md-5">
        <app-panel customClass="no-padding" title="Users">
          <app-message-members></app-message-members>
        </app-panel>
      </div>
      <div class="col-md-7">
        <app-panel customClass="no-padding full">
          <router-outlet></router-outlet>
        </app-panel>
        <app-no-data *ngIf="!messages" [key]="'messages'"></app-no-data>
      </div>
    </div>
  </div>
</section>
