<app-panel>
  <div class="experience my-5" *ngIf="experience">
    <div class="row">
      <div class="col-md-4 img-box">
        <div class="">
          <img
            class="user-thumbnail square size-sm"
            width="40"
            [src]="
              experience.logo && experience.logo.url
                ? experience.logo.url
                : './assets/shared/user.png'
            "
            [alt]="experience.companyName"
          />
        </div>
      </div>
      <div class="col-md-8">
        <div class="body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="company-name">{{ experience.companyName }}</div>
            <div>
              <div class="btn-group" dropdown>
                <button
                  id="project-action"
                  dropdownToggle
                  type="button"
                  class="btn"
                  aria-controls="project-action"
                >
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul
                  id="project-action"
                  *dropdownMenu
                  class="dropdown-menu dropdown-menu-right"
                  role="menu"
                  aria-labelledby="project-action"
                >
                  <li role="menuitem">
                    <a
                      class="dropdown-item"
                      routerLink="/main/dashboard/experiences/{{
                        experience.id
                      }}"
                      >Edit experience</a
                    >
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-item" href="#">Delete project</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="working-date">
            {{ experience.projectStarted | date : "MMM y" }} -
            {{ experience.projectEnded | date : "MMM y" }}
          </div>
          <div class="company-description">
            {{ experience.intro }}
          </div>
          <hr />
          <div
            class="work-detail"
            *ngFor="let jobDescription of experience.jobDescriptions"
          >
            <div class="job-description">
              ▎ {{ jobDescription.description }}
            </div>
            <div class="job-date">
              {{ jobDescription.started | date : "MMM y" }} ~
              {{ jobDescription.ended | date : "MMM y" }}
            </div>
            <div>
              {{ jobDescription.details }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-panel>
