<div class="about">
  <app-panel customClass="no-padding no-height" *ngIf="member">
    <div class="row">
      <div class="col-md-12">
        <div>
          <tabset #staticTabs class="vertical-tab" [vertical]="true">
            <tab heading="Overview">
              <div class="about-content">
                <h3 class="">Introduction</h3>
                <p>
                  {{ member.introduction }}
                </p>
              </div>
              <div class="about-content">
                <h3 class="">Interests</h3>
                <p>
                  {{ member.interests }}
                </p>
              </div>
              <div class="about-content">
                <h3 class="">Looking for</h3>
                <p>
                  {{ member.lookingFor }}
                </p>
              </div>
            </tab>
            <tab heading="Work and Education">
              <div>
                <div class="about-content">
                  <h3 class="">Work</h3>
                  <p>
                    {{ member.introduction }}
                  </p>
                </div>
                <div class="about-content">
                  <h3 class="">Education</h3>
                  <p>
                    {{ member.interests }}
                  </p>
                </div>
              </div>
            </tab>

            <tab heading="Contact Info">
              <div>
                <div class="about-content">
                  <h3 class="">Contact info</h3>
                  <p>abc@abc.com</p>
                  <p>Phone: 1234567899</p>
                </div>

                <div class="about-content">
                  <h3 class="">Location</h3>
                  <p>Toronto, Canada</p>
                </div>

                <div class="about-content">
                  <h3 class="">Websites/SNS</h3>
                  <p><i class="fa-brands fa-github"></i>google.ca</p>
                  <p>google.ca</p>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </app-panel>
</div>
