@import "_typography";

.about {
  position: relative;
  color: var(--text-main);

  .about-content {
    padding: .5rem 1rem;
    position: relative;

    &:first-child {
      margin-top: 1.5rem;
    }

    h3 {
      @extend .heading-3;
      color: var(--text-main);
      font-weight: 700;
      border-bottom: 2px solid var(--primary);
      display: inline-block;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
    }
    p {
      @extend .text-2;
      color: var(--text-main);
      line-height: 1.6;
    }
  }
}
