.tabset {
  width: 100%;
  text-align: center;
  background-color: transparent;
  .nav {
    border-color: transparent;

    .nav-item {
    }
    .nav-link {
      color: var(--text-main);
      border-radius: 0;
      border-bottom: 0.3rem solid transparent;

      &.active {
        background-color: transparent;
        border-bottom: 0.3rem solid var(--primary);
        color: var(--text-main);
      }
      &:active,
      &:hover,
      &:focus,
      &:focus-visible {
        text-decoration: none;
        color: var(--text-main);
      }
    }
  }
}

.vertical-tab {
  display: flex;
  // flex-wrap: wrap;
  min-height: 20rem;
  & .nav-tabs {
    flex-direction: column;
    flex-basis: 25%;
    border: 0;
    border-right: 1px solid;
    border-color: var(--border-main);
    @extend .heading-5;

    .nav-link {
      color: var(--text-main);
      border-radius: 0;
      border-bottom: 0.3rem solid transparent;
      &:hover {
        border-color: transparent !important;
      }
      &.active {
        background-color: var(--primary);
        border-color: transparent !important;
        color: var(--white);
      }
    }
  }
  & .tab-content {
    flex-grow: 1;
    flex-basis: 75%;
    padding: 1rem;
  }
}
