<div class="container profile-photos">
  <section class="profile" *ngIf="user">
    <div class="header-background">
      <div class="container profile-content">
        <div class="row">
          <div class="offset-xl-1 col-xl-10 text-center">
            <div class="thumbnail-box">
              <img
                class="user-thumbnail size-lg user-border mb-4"
                width="40"
                [src]="user.photoUrl || './assets/shared/user.png'"
                [alt]="user.username"
              />
            </div>
            <h2 class="main-text-2">Main Profile Image!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="my-5" />
  <app-photo-upload
    *ngIf="member"
    [photos]="member.photos"
    (setMain)="setMainPhoto($event)"
    (delete)="deletePhoto($event)"
    (updatePhoto)="updatePhoto($event)"
  ></app-photo-upload>
</div>
