.photo-upload {
  .upload-files-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--black-transparent);
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .dynamic-message {
    // font-size: 1.5rem;
    font-weight: 500;
  }
  .dropzone {
    border: 1.3px dashed var(--primary);
    color: var(--primary);
    border-radius: 1rem;
    width: 100%;
    text-align: center;
    height: 100%;
    cursor: pointer;
    text-decoration: none !important;
    display: block;
  }
  .dropzone-icon {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      // font-size: 5rem;
    }
  }
  .browse-files {
    position: relative;
    .default-file-input {
      opacity: 0;
      z-index: 100;
      position: relative;
    }
    .file-text-btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .browse-files-text {
      color: var(--primary);

      font-weight: bolder;
      cursor: pointer;
    }
  }

  .photo-box {
    position: relative;
    width: 100%;
    aspect-ratio: 1 !important;
  }
  .photo-actions {
    position: absolute;
    top: -1rem;
    right: -1rem;

    .icon-btn {
      border: none;
      box-shadow: 0 0 10px var(--black-transparent-more);
      color: var(--white);
      padding: 0.5rem;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      transform: translateY(-0.2rem);
      transition: all 0.15s ease-in-out;
    }

    .icon-red {
      background-color: var(--red);
    }

    .icon-blue {
      background-color: var(--primary);
    }
  }
}

// img.img-thumbnail {
//   height: 100px;
//   min-width: 100px !important;
//   margin-bottom: 2px;
// }

// .nv-file-over {
//   border: dotted 3px red;
// }

// input[type="file"] {
//   color: transparent;
// }
