@import "_typography";

.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--black-transparent-more);
  overflow: hidden;

  .img-container {
    text-align: center;
    & img {
      max-height: 220px;
    }
  }
  .card-header {
    background-color: var(--white);
    .card-title {
      @extend .heading-3;
    }
  }
  .description {
    height: 50px;
  }
}
