<div class="card" *ngIf="project">
  <div class="card-header" *ngIf="project.user as member">
    <div class="header-content">
      <div class="img-container">
        <img
          src="{{ member.photoUrl || './assets/shared/user.png' }}"
          [alt]="member.username"
          class="user-thumbnail size-xs"
        />
      </div>
      <div class="user">
        <app-link
          customClass="text"
          [routerLink]="['/main/members/', member.username]"
        >
          <span class="ms-3"> {{ "@" + member.username }} </span>
        </app-link>
      </div>
    </div>
    <div class="header-actions">
      <app-dropdown-link
        icon="fa-solid fa-ellipsis-vertical"
        ariaControls="option-dropdown"
        id="option-dropdown"
      >
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="'/main/projects/' + project.id"
            >View project</a
          >
        </li>
        <li role="menuitem">
          <a
            class="dropdown-item"
            routerLink="/main/dashboard/projects/{{ project.id }}"
            >Edit project</a
          >
        </li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Delete project</a>
        </li>
      </app-dropdown-link>
    </div>
  </div>
  <a [routerLink]="'/main/projects/' + project.id" class="">
    <swiper
      class="project-swiper"
      [config]="config"
      *ngIf="project.images.length; else noImage"
    >
      <ng-template
        swiperSlide
        *ngFor="let image of project.images; let i = index"
      >
        <img [src]="image.url" alt="" class="project-img" />
      </ng-template>
    </swiper>
    <ng-template #noImage>
      <img
        class="card-img-top"
        src="./assets/shared/user.png"
        alt="Card image cap"
      />
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}</h5>
      <div class="card-text">
        {{ project.description | truncate : 30 }}
      </div>
      <div class="card-date mb-3">
        <small> {{ project.projectStarted | date : "MMM y" }} </small> -
        <small> {{ project.projectEnded | date : "MMM y" }} </small>
      </div>
      <div class="mb-4">
        <div>
          <span class="badge bg-dark me-2">Angular</span>
          <span class="badge bg-dark me-2">React</span>
          <span class="badge bg-dark me-2">.NET</span>
        </div>
      </div>
    </div>
  </a>
</div>
