<div class="card" *ngIf="project">
  <a [routerLink]="'/main/projects/' + project.id" class="">
    <div class="img-container">
      <swiper
        class="project-swiper"
        [config]="config"
        *ngIf="project.images.length; else noImage"
      >
        <ng-template
          swiperSlide
          *ngFor="let image of project.images; let i = index"
        >
          <img [src]="image.url" alt="" class="project-img" />
        </ng-template>
      </swiper>
      <ng-template #noImage>
        <img
          class="card-img-top p-5"
          src="./assets/shared/icons/icon-not-found.svg"
          alt="Card image cap"
        />
      </ng-template>
    </div>
  </a>

  <div class="card-header px-4 pt-4" *ngIf="project.user as user">
    <a [routerLink]="'/main/projects/' + project.id" class="">
      <h5 class="card-title mb-0">{{ project.name }}</h5>
      <div class="badge bg-success my-2">{{ getStatus(project.status) }}</div>
    </a>
  </div>
  <div class="card-body px-4 pt-2">
    <div class="description">{{ project.description | truncate : 60 }}</div>

    <div class="team-members mb-3">
      <a
        *ngFor="let teamMember of project.teamMembers"
        [routerLink]="['/main/members/', teamMember.username]"
      >
        <img
          src="{{ teamMember.photoUrl }}"
          class="rounded-circle mr-1"
          alt="Avatar"
          width="28"
          height="28"
        />
      </a>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item px-4 pb-4">
      <div class="progress progress-sm">
        <progressbar
          [max]="100"
          [value]="project.progress || 0"
          type="info"
          [striped]="false"
          [animate]="false"
        >
          <i class="">{{ project.progress || 0 }} / 100</i>
        </progressbar>
      </div>
    </li>
  </ul>
</div>
