<div class="container">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-3 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Sidebar</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a
              routerLink="/main/profile/edit/about"
              class="nav-link active"
              aria-current="page"
            >
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              About
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/main/profile/edit/photos"
              class="nav-link text-white"
              aria-current="page"
            >
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Profile Photos
            </a>
          </li>
          <li>
            <a routerLink="/main/profile/edit/projects" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              My Projects
            </a>
          </li>
          <li>
            <a
              routerLink="/main/profile/edit/experiences"
              class="nav-link text-white"
            >
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table"></use>
              </svg>
              Experiences
            </a>
          </li>
          <li>
            <a routerLink="/main/profile/edit/skills" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#grid"></use>
              </svg>
              Skills
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
            <strong>mdo</strong>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1"
          >
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col px-0">
      <!-- <section class="profile" *ngIf="user">
        <div class="header-background">
          <div class="container profile-content">
            <div class="row">
              <div class="offset-xl-1 col-xl-10 text-center">
                <div class="thumbnail-box">
                  <img
                    class="user-thumbnail size-xl user-border mb-4"
                    width="40"
                    [src]="user.photoUrl || './assets/shared/user.png'"
                    [alt]="user.username"
                  />
                  <a class="edit-icon-link">
                    <i class="fa-solid fa-pen"></i>
                  </a>
                </div>
                <h2 class="main-text-2">Welcome {{ user.knownAs }}!</h2>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <div class="bg-white" style="min-height: calc(100vh - 195px - 64px)">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container"> -->

<!-- </div> -->
