<app-panel customClass="no-height">
  <form
    [formGroup]="searchForm"
    class="search-form"
    autocomplete="off"
    *ngIf="projectParams"
    (ngSubmit)="submit()"
  >
    <div class="input-group mb-3" dropdown placement="bottom left">
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        dropdownToggle
      >
        Dropdown
      </button>
      <ul class="dropdown-menu" *dropdownMenu>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
      <input
        type="text"
        class="form-control"
        aria-label="Text input with dropdown button"
        formControlName="keyword"
      />
      <button
        class="btn btn-outline-secondary btn-append"
        type="button"
        id="button-addon2"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
        Search
      </button>
    </div>
    <!-- <div class="d-flex mx-2">
    <label class="col-form-label">Project from: </label>
    <input
      type="number"
      class="form-control ms-1"
      style="width: 70px"
      name="minAge"
      [(ngModel)]="userParams.minAge"
    />
  </div> -->

    <!-- <div class="d-flex px-2">
    <label class="col-form-label me-2">Show: </label>
    <select
      name="gender"
      style="width: 150px"
      class="form-select ms-1"
      [(ngModel)]="userParams.gender"
    >
      <option *ngFor="let gender of genderList" [value]="gender.value">
        {{ gender.display }}
      </option>
    </select>
  </div> -->

    <!-- <button class="btn btn-primary ms-1" type="submit">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-info ms-1" type="submit">
      Reset Filters
    </button> -->

    <!-- <div class="col">
      <div class="btn-group float-end">
        <button
          type="button"
          class="btn btn-primary"
          [(ngModel)]="projectParams.orderBy"
          btnRadio="lastActive"
        >
          Last Active
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [(ngModel)]="projectParams.orderBy"
          btnRadio="created"
        >
          Newest members
        </button>
      </div>
    </div> -->
  </form>
</app-panel>
