.banner {
  padding: 5rem;
  text-align: center;
  color: var(--white);
  &.white {
    background-color: var(--white);
    color: var(--black);
  }
  &.green {
    background-color: var(--dark-green);
  }
  &.purple {
    background-color: var(--purple);
  }
  &.light-green {
    background-color: var(--light-green);
  }

  & .title {
    font-size: 20px;
    font-size: 2rem;
    @extend .heading-3;
  }

  & .logo {
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
    max-width: 100px;
    max-width: 10rem;
    min-width: 50px;
    min-width: 5rem;
  }
}

.panel {
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  min-height: 15rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

  &.left {
    align-items: flex-start;
    text-align: left;
  }

  &.right {
    align-items: flex-end;
  }

  &.white {
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--white);
  }
  &.green {
    color: var(--champagne);
    background-color: var(--light-green);

    border: 2px solid var(--light-green);
  }


  .logo {
    margin-bottom: 1rem;
  }
  .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    // letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
  }
  .sub {
    letter-spacing: 0.1rem;
  }
}
