.mySwiper {
  overflow: unset;
  .swiper-pagination-bullet-active {
    background-color: var(--text-main) !important;
  }
  .swiper-pagination {
    bottom: -2rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--text-main) !important;
  }
}
