.tabset {
  width: 100%;
  text-align: center;
  background-color: transparent;
  .nav {
    border-color: transparent;

    .nav-item {
    }
    .nav-link {
      color: var(--text-main);
      border-radius: 0;
      border-bottom: 0.3rem solid transparent;

      &.active {
        background-color: transparent;
        border-bottom: 0.3rem solid var(--primary);
        color: var(--text-main);
      }
      &:active,
      &:hover,
      &:focus,
      &:focus-visible {
        text-decoration: none;
        color: var(--text-main);
      }
    }
  }
}
