<div class="profile" *ngIf="user">
  <section class="header-background">
    <div class="row">
      <div class="col-xl-2 text-center">
        <div class="thumbnail-box">
          <img
            class="user-thumbnail size-sm user-border"
            width="40"
            [src]="user.photoUrl || './assets/shared/user.png'"
            [alt]="user.username"
          />
          <a class="edit-icon" routerLink="/profile/edit">
            <i class="fa-solid fa-pen"></i>
          </a>
        </div>
      </div>
      <div class="col-xl-10 mt-auto">
        <div class="profile-content">
          <div>
            <h1 class="heading-1">Changsoo Cho</h1>
            <span class="sub-heading-1">2 friends</span>
          </div>
          <div class="btn-box">
            <app-button icon="fa fa-plus" customClass="">
              Add Project
            </app-button>
            <app-button icon="fa fa-plus" customClass="">
              Add Experience
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <tabset class="tabset" type="pills" #profileTabs>
      <tab heading="Overview" (selectTab)="activateTab($event)" #tabA="tab">
        <div class="p-5">
          <app-profile-overview *ngIf="tabA.active"></app-profile-overview>
        </div>
      </tab>

      <tab heading="About" (selectTab)="activateTab($event)"> TAB2 app- </tab>
      <tab heading="Message" (selectTab)="activateTab($event)">
        TAB3

        <!-- <sub-component
            name="C"
            *ngIf="tabC.active"
            (onInit)="message('Sub-Component C activated')"
            (onDestroy)="message('Sub-Component C destroyed')"
          ></sub-component> -->
      </tab>
      <tab heading="Projects" (selectTab)="activateTab($event)">
        TAB3

        <!-- <sub-component
            name="C"
            *ngIf="tabC.active"
            (onInit)="message('Sub-Component C activated')"
            (onDestroy)="message('Sub-Component C destroyed')"
          ></sub-component> -->
      </tab>
      <tab heading="Experiences" (selectTab)="activateTab($event)">
        TAB3

        <!-- <sub-component
            name="C"
            *ngIf="tabC.active"
            (onInit)="message('Sub-Component C activated')"
            (onDestroy)="message('Sub-Component C destroyed')"
          ></sub-component> -->
      </tab>
      <tab heading="Education" (selectTab)="activateTab($event)">
        TAB3

        <!-- <sub-component
            name="C"
            *ngIf="tabC.active"
            (onInit)="message('Sub-Component C activated')"
            (onDestroy)="message('Sub-Component C destroyed')"
          ></sub-component> -->
      </tab>
      <tab heading="Skills" (selectTab)="activateTab($event)">
        TAB3

        <!-- <sub-component
            name="C"
            *ngIf="tabC.active"
            (onInit)="message('Sub-Component C activated')"
            (onDestroy)="message('Sub-Component C destroyed')"
          ></sub-component> -->
      </tab>
    </tabset>
  </section>
</div>
