<div class="container">
  <div class="pt-5">
    <div class="profile">
      <app-loader [loading]="loading"></app-loader>
      <app-panel>
        <section class="header-background" *ngIf="user">
          <div class="row">
            <div class="col-xl-2 text-center mb-3">
              <div class="thumbnail-box">
                <img
                  class="user-thumbnail size-sm user-border"
                  width="40"
                  [src]="user.photoUrl || './assets/shared/user.png'"
                  [alt]="user.username"
                />
                <a class="edit-icon" routerLink="/main/dashboard">
                  <i class="fa-solid fa-pen"></i>
                </a>
              </div>
            </div>
            <div class="col-xl-10 mt-auto">
              <div class="row text-center text-md-start">
                <div class="col-md-6 mb-5">
                  <div>
                    <h1 class="heading-1">{{ user.knownAs }}</h1>
                    <span class="sub-heading-1">2 friends</span>
                  </div>
                </div>
                <div class="col-md-6 mb-3 mt-auto">
                  <div class="btn-box">
                    <app-button
                      icon="fa fa-plus"
                      customClass=""
                      [routerLink]="'/main/dashboard/projects/create'"
                    >
                      Add Project
                    </app-button>
                    <app-button
                      icon="fa fa-plus"
                      customClass=""
                      [routerLink]="'/main/dashboard/experiences/create'"
                    >
                      Add Experience
                    </app-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </app-panel>

      <section class="position-relative">
        <tabset class="tabset" type="pills" #profileTabs>
          <tab
            heading="Overview"
            (selectTab)="activateTab($event)"
            #overviewTab="tab"
          >
            <div class="py-5">
              <app-overview-tab
                [member]="member"
                *ngIf="overviewTab.active"
              ></app-overview-tab>
            </div>
          </tab>

          <tab
            heading="About"
            (selectTab)="activateTab($event)"
            #projectTab="tab"
          >
            <app-about-tab *ngIf="member" [member]="member"> </app-about-tab>
          </tab>

          <tab
            heading="Projects"
            (selectTab)="activateTab($event)"
            #projectTab="tab"
          >
            <app-projects-tab *ngIf="member?.projects"> </app-projects-tab>
            <app-no-data
              *ngIf="
                (!member?.projects || !member?.projects?.length) && !loading
              "
              [key]="'data'"
            ></app-no-data>
          </tab>

          <tab
            heading="Experiences"
            (selectTab)="activateTab($event)"
            #experienceTab="tab"
          >
            <app-experience-tab *ngIf="experienceTab.active">
            </app-experience-tab>
          </tab>
          <!-- <tab heading="Education" (selectTab)="activateTab($event)">
            TAB3

            <sub-component
                name="C"
                *ngIf="tabC.active"
                (onInit)="message('Sub-Component C activated')"
                (onDestroy)="message('Sub-Component C destroyed')"
              ></sub-component>
          </tab> -->
          <!-- <tab heading="Skills" (selectTab)="activateTab($event)">
            TAB3

            <sub-component
                name="C"
                *ngIf="tabC.active"
                (onInit)="message('Sub-Component C activated')"
                (onDestroy)="message('Sub-Component C destroyed')"
              ></sub-component>
          </tab> -->
        </tabset>
        <!-- <div class="spinner" *ngIf="loading">
          <div class="spinner-border md" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div> -->
      </section>
    </div>
  </div>
</div>
