<footer class="footer">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4">
        <ul class="footer-nav">
          <li>
            <a href=""> ABOUT US </a>
          </li>
          <li><a href=""> TIPS </a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="footer-nav">
          <li><a href=""> TERMS AND CONDITIONS </a></li>
          <li>
            <a href=""> PRIVACY POLICY </a>
          </li>
          <li></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="footer-nav">
          <li><a href=""> ADDRESS </a></li>
          <li>
            <a href=""> CONTACT US </a>
          </li>
          <li></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="copyright">© 2022-2023 GET TOGETHER.</div>
      </div>
    </div>
  </div>
</footer>
