@import "_typography";

.main-link {
  @extend .link-text;
  border: 1px solid transparent;
  color: var(--text-main);
  background-color: transparent;
  border-radius: 0.5rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3s ease;
  &:active {
  }

  &.text {
    color: var(--text-main);
    .icon {
      color: var(--text-main);
    }
    &:hover {
      background-color: transparent;
      color: var(--primary) !important;
      & .icon {
        color: var(--primary) !important;
      }
    }
  }

  &.circle {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &.black {
    color: var(--black);
  }

  &.full {
    width: 100%;
  }

  &.link-lg {
  }

  .icon {
    color: var(--black);
  }

  &.primary {
    color: var(--primary);
    .icon {
      color: var(--primary);
    }
    &:hover {
      border: 1px solid var(--primary);
      color: var(--primary) !important;
      & .icon {
        color: var(--primary) !important;
      }
    }
  }
}
