@import "_typography";

.main-link {
  @extend .link-text;
  border: none;
  color: var(--white);
  background-color: transparent;
  border-radius: 0.5rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    background-color: var(--primary);
    color: var(--white) !important;
    & .icon {
      color: var(--white) !important;
    }
  }

  &:active {
  }

  &.primary {
    color: var(--primary);
    .icon {
      color: var(--primary);
    }
  }

  &.circle {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &.black {
    color: var(--black);
  }

  &.full {
    width: 100%;
  }

  &.link-lg {
    // font-weight: 500;
    // line-height: 1.2;
  }

  .icon {
    color: var(--black);
  }
}
