@import "_typography";

.main-link {
  @extend .link-text;
  border: 1px solid transparent;
  color: var(--text-main);
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.5rem;

  &.circle {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &.black {
    color: var(--black);
  }

  &.full {
    width: 100%;
  }

  &.no-radius {
    border-radius: 0 !important;
  }

  &.bold {
    font-weight: 500;
  }

  // COLOR
  &.primary {
    color: var(--primary) !important;
    .icon {
      color: var(--primary) !important;
    }
    &:hover {
      border-bottom: 1px solid var(--primary) !important;
      color: var(--primary) !important;
      & .icon {
        color: var(--primary) !important;
      }
    }
  }

  &.white {
    color: var(--white) !important;
    .icon {
      color: var(--white) !important;
    }
    &:hover {
      border-bottom: 1px solid var(--white) !important;

      & .icon {
        color: var(--white) !important;
      }
    }
  }
}
