.table {
  font-size: 1rem;
  .table-row {
    vertical-align: middle;
  }
  .table-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    width: 8rem;
    aspect-ratio: 1.5/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    position: relative;
    margin: .5rem;
  }
}
