<ngx-spinner type="ball-scale-multiple">
  <h3>Loading...</h3>
</ngx-spinner>

<app-nav></app-nav>
<router-outlet></router-outlet>

<section>
  <div class="footer">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <ul class="footer-nav">
            <li>
              <a href=""> ABOUT EHARMONY </a>
            </li>
            <li><a href=""> EHARMONY TIPS </a></li>
            <li>
              <a href=""> ABOUT US </a>
            </li>
            <li></li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="footer-nav">
            <li>
              <a href=""> SAFETY TIPS </a>
            </li>
            <li><a href=""> TERMS AND CONDITIONS </a></li>
            <li>
              <a href=""> PRIVACY POLICY </a>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="footer-nav">
            <li>
              <a href=""> SAFETY TIPS </a>
            </li>
            <li><a href=""> TERMS AND CONDITIONS </a></li>
            <li>
              <a href=""> PRIVACY POLICY </a>
            </li>
            <li></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            © 2000-2023 eharmony, Inc. - Made with ❤ in Los Angeles
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
