<ngx-spinner>
  <h3>Loading...</h3>
</ngx-spinner>

<app-nav></app-nav>
<section>
  <div class="container-fluid"></div>
  <router-outlet></router-outlet>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 banner green">
        <div class="">
          <div class="">
            <img
              width="50"
              class="img-fluid"
              src="./assets/together-logo-1.svg"
              alt="Get together Logo"
            />
          </div>
          <div class="title"><mark>#1 TRUSTED </mark> DEV CONNECTOR</div>
          <div class="sub">
            *2022 Survey of 1,300 Respondents from the US, UK, Canada and
            Australia
          </div>
        </div>
      </div>
      <div class="col-md-4 banner purple">
        <div class="">
          <img
            width="50"
            class="img-fluid"
            src="./assets/together-logo-2.svg"
            alt="Get together Logo"
          />

          <div class="title">
            EVERY <mark>14 MINUTES</mark>, SOMEONE FINDS LOVE ON EHARMONY
          </div>
          <div class="sub">eharmony user data</div>
        </div>
      </div>
      <div class="col-md-4 banner light-green">
        <div class="">
          <img
            width="50"
            class="img-fluid"
            src="./assets/together-logo-1.svg"
            alt="Get together Logo"
          />
          <div class="title"><mark>HIGHEST QUALITY</mark> DATING POOL</div>
          <div class="sub">2018 Survey of 1,616 U.S. Singles</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-white" style="min-height: 15rem">
  <h2>How to use this app?</h2>
</section>
<section>
  <div class="footer">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <ul class="footer-nav">
            <li>
              <a href=""> ABOUT EHARMONY </a>
            </li>
            <li><a href=""> EHARMONY TIPS </a></li>
            <li>
              <a href=""> ABOUT US </a>
            </li>
            <li></li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="footer-nav">
            <li>
              <a href=""> SAFETY TIPS </a>
            </li>
            <li><a href=""> TERMS AND CONDITIONS </a></li>
            <li>
              <a href=""> PRIVACY POLICY </a>
            </li>
            <li></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="footer-nav">
            <li>
              <a href=""> SAFETY TIPS </a>
            </li>
            <li><a href=""> TERMS AND CONDITIONS </a></li>
            <li>
              <a href=""> PRIVACY POLICY </a>
            </li>
            <li></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            © 2000-2023 eharmony, Inc. - Made with ❤ in Los Angeles
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
