<div class="row">
  <div class="offset-md-1 col-md-10">
    <div class="row">
      <div class="col-md-6">
        <div class="panel white left mb-5">
          <div class="title mb-4">
            <i class="fa-solid fa-list-check"></i>
            <div
              matBadgeOverlap="false"
              matBadgeColor="warn"
              class="demo-section"
            >
              Recent Messages
            </div>
          </div>
          <app-message-overview class="w-100"></app-message-overview>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel white left mb-5">
          <div class="title mb-4">
            <i class="fa-solid fa-list-check"></i>
            Saved Connections
          </div>
          <app-connection-overview class="w-100"></app-connection-overview>
        </div>
      </div>

      <div class="col-md-12">
        <div class="mb-4">
          <app-panel>
            <app-project-overview class="w-100"></app-project-overview>
          </app-panel>
        </div>
      </div>

      <div class="col-md-8">
        <div class="panel white left mb-5">
          <div class="title">
            <i class="fa-solid fa-list-check"></i>
            My Career
          </div>
          <app-experience-overview class="w-100"></app-experience-overview>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel white left mb-5">
          <div class="title">
            <i class="fa-solid fa-list-check"></i>
            Recent Visitors
          </div>
          <app-visitor-overview class="w-100"></app-visitor-overview>
        </div>
      </div>
    </div>
  </div>
</div>
