<div class="row">
  <div class="col-md-6">
    <app-panel>
      <div class="title mb-4">Recent Messages</div>
      <app-message-overview class="w-100"></app-message-overview>
    </app-panel>
  </div>
  <div class="col-md-6">
    <app-panel>
      <div class="title mb-4">Saved Connections</div>
      <app-connection-overview class="w-100"></app-connection-overview>
    </app-panel>
  </div>

  <div class="col-md-12">
    <app-panel>
      <app-project-overview class="w-100"></app-project-overview>
    </app-panel>
  </div>

  <div class="col-md-8">
    <app-panel>
      <div class="title mb-4">My Career</div>
      <app-experience-overview class="w-100"></app-experience-overview>
    </app-panel>
  </div>
  <div class="col-md-4">
    <app-panel>
      <div class="title">Recent Visitors</div>
      <app-visitor-overview class="w-100"></app-visitor-overview>
    </app-panel>
  </div>
</div>
