<div class="row">
  <div class="col-md-6">
    <div class="panel white left mb-5">
      <div class="title mb-4">
        <mat-icon class="me-3"> mail </mat-icon>
        <div matBadgeOverlap="false" matBadgeColor="warn" class="demo-section">
          Recent Messages
        </div>
      </div>
      <app-message-overview class="w-100"></app-message-overview>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel white left mb-5">
      <div class="title mb-4">
        <mat-icon class="me-3">people</mat-icon>
        Saved Connections
      </div>
      <app-connection-overview class="w-100"></app-connection-overview>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel white left mb-5">
      <div class="title">
        <mat-icon class="me-3">remove_red_eye</mat-icon>
        My Projects
      </div>
      <app-project-overview class="w-100"></app-project-overview>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel white left mb-5">
      <div class="title">
        <mat-icon class="me-3">remove_red_eye</mat-icon>
        My Career
      </div>
      <app-experience-list class="w-100"></app-experience-list>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel white left mb-5">
      <div class="title">
        <mat-icon class="me-3">remove_red_eye</mat-icon>
        Recent Visitors
      </div>
      <app-visitor-overview class="w-100"></app-visitor-overview>
    </div>
  </div>
</div>
