<div *ngIf="projectForm">
  <div class="row">
    <div class="col-md-10">
      <div class="alert alert-info" *ngIf="projectForm.dirty">
        <strong>Information: </strong> You have made changes. Any unsaved
        changes will be lost
      </div>
    </div>
  </div>
  <form [formGroup]="projectForm" id="projectForm">
    <div class="row">
      <div class="col-md-10">
        <app-panel title="Required" sub="Basic information to create a project">
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="name" class="label"> Name </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'name'"
                [formControl]="projectForm.controls['name'] | formControl"
              >
              </app-text-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="description" class="label"> Description </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-textarea-input
                [rows]="2"
                [label]="'description'"
                [formControl]="
                  projectForm.controls['description'] | formControl
                "
              >
              </app-textarea-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="status" class="label"> Status </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'status'"
                [formControl]="projectForm.controls['status'] | formControl"
              >
              </app-text-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="progress" class="label"> Progress </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'progress'"
                [formControl]="projectForm.controls['progress'] | formControl"
              >
              </app-text-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="isPublic" class="label"> Is Public </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="isPublic"
                  formControlName="isPublic"
                />
              </div>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Basic Info"
          sub="Give visitors a quick overview of this project."
        >
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="isCurrent" class="label"> Is Current </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <div class="form-check form-switch">
                <input
                  formControlName="isCurrent"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="isCurrent"
                />
              </div>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="projectStarted" class="label">
                Project Started
              </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-date-input
                [label]="'projectStarted'"
                [maxDate]="maxDate"
                [formControl]="
                  projectForm.controls['projectStarted'] | formControl
                "
                class="theme-green"
              >
              </app-date-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="projectEnded" class="label"> Project Ended </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-date-input
                [label]="'projectEnded'"
                [maxDate]="maxDate"
                [formControl]="
                  projectForm.controls['projectEnded'] | formControl
                "
                class="theme-green"
              >
              </app-date-input>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Technology"
          sub="Give visitors a quick overview of technologies that are used for this project"
        >
          <div class="row align-items-center mb-3">
            <div class="col-md-2 text-end">
              <label for="mainFeature" class="label"> mainFeature </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'mainFeature'"
                [formControl]="
                  projectForm.controls['mainFeature'] | formControl
                "
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="frontEnd" class="label"> Technology </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'frontEnd'"
                [formControl]="projectForm.controls['frontEnd'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Link Info"
          sub="Give visitors to explore the projects through the link"
          customClass="no-height"
        >
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="url" class="label"> URL </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'url'"
                [formControl]="projectForm.controls['url'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="githubUrl" class="label"> GithubUrl </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'githubUrl'"
                [formControl]="projectForm.controls['githubUrl'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Project Images"
          sub="Name this project and describe it to your visitors"
          customClass="no-height"
        >
          <div class="row mb-5">
            <div class="col-md-12">
              <app-photo-upload
                *ngIf="uploaderReady"
                #photoUpload
                [photos]="project?.images"
                (delete)="deletePhoto($event)"
              ></app-photo-upload>
            </div>
          </div>
        </app-panel>

        <!-- <hr class="my-5" /> -->
        <div class="row align-items-start mb-3">
          <div class="col-md-12 text-end">
            <app-button
              [form]="projectForm"
              [disabled]="!projectForm.dirty"
              [type]="'submit'"
              (click)="saveProject()"
            >
              {{ mode === "EDIT" ? "Save Changes" : "Save Project" }}
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
