<div *ngIf="projectForm">
  <div class="row">
    <div class="col-md-9">
      <div class="alert alert-info" *ngIf="projectForm.dirty">
        <strong>Information: </strong> You have made changes. Any unsaved
        changes will be lost
      </div>
    </div>
  </div>
  <form [formGroup]="projectForm" id="projectForm">
    <div class="row">
      <div class="col-md-9">
        <app-panel
          title="Project Info"
          sub="Name this project and describe it to your visitors"
        >
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="name" class="label"> Name </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'name'"
                [formControl]="projectForm.controls['name'] | formControl"
                class="theme-green"
              >
              </app-text-input>
              <p class="main-text-1 description">
                Project name or Github repository name
              </p>
              <p class="main-text-1 description">
                You can only change your name twice within 14 days.
              </p>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="description" class="label"> Description </label>
            </div>
            <div class="offset-md-1 col-md-8">
              <app-textarea-input
                [rows]="4"
                [label]="'description'"
                [formControl]="
                  projectForm.controls['description'] | formControl
                "
                class="theme-green"
              >
              </app-textarea-input>
              <p class="main-text-1 description">
                Description about purpose, technologies of the project.
              </p>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Basic Info"
          sub="Give visitors a quick overview of this project."
        >
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="projectWith" class="label"> Project With </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'projectWith'"
                [formControl]="
                  projectForm.controls['projectWith'] | formControl
                "
                class="theme-green"
              >
              </app-text-input>
              <p class="main-text-1 description">
                ex) Individual project or team project
              </p>
            </div>
          </div>
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="projectStarted" class="label">
                Project Started
              </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-date-input
                [label]="'projectStarted'"
                [maxDate]="maxDate"
                [formControl]="
                  projectForm.controls['projectStarted'] | formControl
                "
                class="theme-green"
              >
              </app-date-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="projectEnded" class="label"> Project Ended </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-date-input
                [label]="'projectEnded'"
                [maxDate]="maxDate"
                [formControl]="
                  projectForm.controls['projectEnded'] | formControl
                "
                class="theme-green"
              >
              </app-date-input>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Tech Info"
          sub="Give visitors a quick overview of technologies that are used for this project"
        >
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="intro" class="label"> Introduction </label>
            </div>
            <div class="offset-md-1 col-md-8">
              <app-textarea-input
                [rows]="4"
                [label]="'intro'"
                [formControl]="projectForm.controls['intro'] | formControl"
                class="theme-green"
              >
              </app-textarea-input>
              <p class="main-text-1 description">
                Please give us a brief introduction about the project
              </p>
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-md-2 text-end">
              <label for="mainFeature" class="label"> mainFeature </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'mainFeature'"
                [formControl]="
                  projectForm.controls['mainFeature'] | formControl
                "
                class="theme-green"
              >
              </app-text-input>
              <p class="main-text-1 description">
                Main features the project has
              </p>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="githubUrl" class="label"> GithubUrl </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'githubUrl'"
                [formControl]="projectForm.controls['githubUrl'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="frontEnd" class="label"> FrontEnd </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'frontEnd'"
                [formControl]="projectForm.controls['frontEnd'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="backEnd" class="label"> Backend </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'backEnd'"
                [formControl]="projectForm.controls['backEnd'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>
          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="database" class="label"> Database </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'database'"
                [formControl]="projectForm.controls['database'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>

          <div class="row align-items-start mb-3">
            <div class="col-md-2 text-end">
              <label for="deployement" class="label"> Deployment </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [label]="'deployement'"
                [formControl]="
                  projectForm.controls['deployement'] | formControl
                "
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Link Info"
          sub="Give visitors to explore the projects through the link"
          customClass="no-height"
        >
          <div class="row align-items-center mb-3">
            <div class="col-md-2 text-end">
              <label for="url" class="label"> Url </label>
            </div>
            <div class="offset-md-1 col-md-6">
              <app-text-input
                [type]="'text'"
                [label]="'url'"
                [formControl]="projectForm.controls['url'] | formControl"
                class="theme-green"
              >
              </app-text-input>
            </div>
          </div>
        </app-panel>

        <app-panel
          title="Project Images"
          sub="Name this project and describe it to your visitors"
          customClass="no-height"
        >
          <div class="row mb-5">
            <div class="col-md-12">
              <app-photo-upload
                *ngIf="uploaderReady"
                #photoUpload
                [photos]="project?.images"
                (delete)="deletePhoto($event)"
              ></app-photo-upload>
            </div>
          </div>
        </app-panel>
        <!-- <hr class="my-5" /> -->
        <div class="row align-items-start mb-3">
          <div class="col-md-12 text-end">
            <app-button
              [form]="projectForm"
              [disabled]="!projectForm.dirty"
              [type]="'submit'"
              (click)="saveProject()"
            >
              {{ mode === "EDIT" ? "Save Changes" : "Save Project" }}
            </app-button>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <app-panel customClass="no-height">
          <div class="d-flex align-items-center">
            <div>Hide this project</div>
            <div class="ms-auto">
              <app-button>Click</app-button>
            </div>
          </div>
        </app-panel>

        <app-panel customClass="no-height">
          <div class="">
            <p>
              NEED Help?
              <i class="ms-2 fa-regular fa-circle-question"></i>
            </p>
            <p>
              Get phone support or start a live chat with our Customer Care
              team.
            </p>
            <div>
              <app-link customClass="primary" label="">
                <i class="fa-solid fa-arrow-right"></i>

                <span class="ms-3">Contact Support</span>
              </app-link>
            </div>
          </div>
        </app-panel>
      </div>
    </div>
  </form>
</div>
