<div>
  <h2>Sign up</h2>
</div>
<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <label
    id="example-radio-group-label"
    style="margin-bottom: 1rem; margin-right: 0.5rem"
  >
    I am a:
  </label>
  <mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-radio-button value="male" style="margin: 0.25rem">
      Male
    </mat-radio-button>
    <mat-radio-button value="female" style="margin: 0.25rem">
      Female
    </mat-radio-button>
  </mat-radio-group>

  <app-text-input
    [formControl]="registerForm.controls['username']"
    [label]="'Username'"
  ></app-text-input>

  <app-text-input
    [formControl]="registerForm.controls['password']"
    [label]="'Password'"
    [type]="'password'"
  >
  </app-text-input>

  <app-text-input
    [formControl]="registerForm.controls['confirmPassword']"
    [label]="'Confirm Password'"
    [type]="'password'"
  ></app-text-input>

  <app-text-input
    [formControl]="registerForm.controls['knownAs']"
    [label]="'Known As'"
  ></app-text-input>

  <app-date-input
    [formControl]="registerForm.controls['dateOfBirth']"
    [label]="'Date Of Birth'"
    [maxDate]="maxDate"
  ></app-date-input>

  <app-text-input
    [formControl]="registerForm.controls['city']"
    [label]="'City'"
  ></app-text-input>

  <app-text-input
    [formControl]="registerForm.controls['country']"
    [label]="'Country'"
  ></app-text-input>

  <div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{ error }}
      </li>
    </ul>
  </div>
</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    cdkFocusInitial
    color="primary"
    (click)="register()"
  >
    Register
  </button>
</mat-dialog-actions>
