<div class="register">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerForm.valid && register()"
    autocomplete="off"
  >
    <!-- <div class="text-left">
      <label id="example-radio-group-label"> I AM LOOKING FOR </label>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="male" style="margin: 0.25rem">
          Male
        </mat-radio-button>
        <mat-radio-button value="female" style="margin: 0.25rem">
          Female
        </mat-radio-button>
      </mat-radio-group>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <app-text-input
          [formControl]="registerForm.controls['username'] | formControl"
          [label]="'Username'"
          class="theme-green"
        >
        </app-text-input>
        <app-text-input
          [formControl]="registerForm.controls['password'] | formControl"
          [label]="'Password'"
          [type]="'password'"
        >
        </app-text-input>
        <!-- <app-date-input
          [formControl]="registerForm.controls['dateOfBirth'] | formControl"
          [label]="'Date Of Birth'"
          [maxDate]="maxDate"
        ></app-date-input> -->
      </div>
      <div class="col-md-12">
        <app-text-input
          [formControl]="registerForm.controls['country'] | formControl"
          [label]="'Country'"
        ></app-text-input>
      </div>
      <div class="col-md-12">
        <button class="main-btn" (click)="register()">Register</button>
      </div>
    </div>

    <!-- <app-text-input
      [formControl]="registerForm.controls['confirmPassword'] | formControl"
      [label]="'Confirm Password'"
      [type]="'password'"
    ></app-text-input> -->

    <!-- <app-text-input
      [formControl]="registerForm.controls['knownAs'] | formControl"
      [label]="'Known As'"
    ></app-text-input> -->

    <!-- <app-date-input
      [formControl]="registerForm.controls['dateOfBirth'] | formControl"
      [label]="'Date Of Birth'"
      [maxDate]="maxDate"
    ></app-date-input> -->

    <!-- <app-text-input
      [formControl]="registerForm.controls['city'] | formControl"
      [label]="'City'"
    ></app-text-input> -->

    <!-- <app-text-input
      [formControl]="registerForm.controls['country'] | formControl"
      [label]="'Country'"
    ></app-text-input> -->

    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{ error }}
        </li>
      </ul>
    </div>
  </form>
</div>
