.panel-white {
  background-color: #fff;
  border-radius: 6px;
  border: 1px white solid;
  padding: 30px;
}

::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
  }
}
