<div *ngIf="userParams">
  <app-member-search (searchEvent)="loadMembers($event)"></app-member-search>

  <div class="mt-4 mb-1">
    <h3>Your matches - {{ pagination?.totalItems }} found</h3>
    <mat-form-field appearance="fill">
      <mat-label>Sort By</mat-label>
      <mat-select
        (selectionChange)="change($event)"
        [(ngModel)]="userParams.orderBy"
      >
        <mat-option value="created">Newest Member</mat-option>
        <mat-option value="lastActive">Last Active</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
      </div>
    </div>
  </div>

  <mat-paginator
    *ngIf="pagination"
    [length]="pagination.totalItems"
    [pageSize]="pagination.itemsPerPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="pagination.currentPage"
    (page)="pageChanged($event)"
    class="mt-5"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
