@import "_typography";

.connection {
  @extend .text-1;
  color: var(--text-main);
  display: block;
  padding: 0.5rem 0.5rem 0 0.5rem;
  &:hover {
    background-color: var(--primary-transparent);
  }

  .name {
    @extend .heading-4;
  }

  .status {
    @extend .text-3;
    color: var(--text-light);
    margin-left: 1rem;
  }
  
  .is-online {
    color: var(--online);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .like {
    color: var(--red);
  }
}
