<div class="" *ngIf="member">
  <a
    class="connection"
    routerLink="/main/members/{{ member.username }}"
    routerLinkActive="router-link-active"
  >
    <div class="row mb-4 align-items-start">
      <div class="col-2">
        <img
          src="{{ member.photoUrl || './assets/shared/user.png' }}"
          [alt]="member.username"
          class="user-thumbnail size-xs"
        />
        <div></div>
      </div>
      <div class="col-10 text-start">
        <div class="d-flex">
          <div>
            <div class="d-flex align-items-center mb-2">
              <div class="name">
                {{ member.name }}
              </div>
              <div class="status">
                <div
                  *ngIf="
                    (presence.onlineUsers$ | async)!.includes(member.username!);
                    else offline
                  "
                >
                  <div>
                    <i class="fa-solid fa-circle is-online"></i>
                    <small class="ps-2">ONLINE</small>
                  </div>
                </div>
                <ng-template #offline>
                  <div>
                    <i class="fa-regular fa-circle"></i>
                    <small class="ps-2">OFFLINE</small>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="mb-2">
              <span>Software developer, Accentury Inc.</span>
            </div>
            <div class="mb-2">
              <small class="text-muted"
                >Last visited {{ member.lastActive | timeago }}
              </small>
            </div>
            <div>
              <span class="badge bg-dark me-2">Angular</span>
              <span class="badge bg-dark me-2">React</span>
              <span class="badge bg-dark me-2">.NET</span>
            </div>
          </div>
          <div class="ms-auto like">
            <i class="fa-solid fa-heart"></i>
            {{ member.followerNumber }}
          </div>
        </div>
      </div>
    </div>
    <hr />
  </a>
</div>
