<div class="row">
  <div class="offset-lg-1 col-lg-10">
    <div class="profile-edit" *ngIf="member">
      <div></div>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved
            changes will be lost
          </div>
        </div>
      </div>
      <div class="spinner-box" *ngIf="loading">
        <div class="spinner">
          <div class="spinner-border sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <form [formGroup]="editForm" id="editForm">
        <div class="row">
          <div class="col-md-12">
            <app-panel
              title="User Info"
              sub="Give members a quick introduction about yourself"
            >
              <div class="row align-items-start mb-3">
                <div class="col-md-2 text-end">
                  <label for="name" class="label"> Name </label>
                </div>
                <div class="offset-md-1 col-md-6">
                  <app-text-input
                    [type]="'text'"
                    [label]="'name'"
                    [formControl]="editForm.controls['name'] | formControl"
                    class="theme-green"
                  >
                  </app-text-input>
                  <p class="main-text-1 description">
                    Help people discover your account by using the name you're
                    known by: either your full name, nickname, or business name.
                  </p>
                  <p class="main-text-1 description">
                    You can only change your name twice within 14 days.
                  </p>
                </div>
              </div>

              <div class="row align-items-start mb-3">
                <div class="col-md-2 text-end">
                  <label for="email" class="label"> Email </label>
                </div>
                <div class="offset-md-1 col-md-6">
                  <app-text-input
                    [type]="'email'"
                    [label]="'email'"
                    [formControl]="editForm.controls['website'] | formControl"
                    class="theme-green"
                  >
                  </app-text-input>
                  <p class="main-text-1 description">
                    Editing your links is only available on mobile. Visit the
                    Instagram app and edit your profile to change the websites
                    in your bio.
                  </p>
                </div>
              </div>
              <div class="row align-items-center mb-3">
                <div class="col-md-2 text-end">
                  <label for="gender" class="label"> Gender </label>
                </div>
                <div class="offset-md-1 col-md-6">
                  <app-text-input
                    [type]="'text'"
                    [label]="'gender'"
                    [formControl]="editForm.controls['gender'] | formControl"
                    class="theme-green"
                  >
                  </app-text-input>
                </div>
              </div>

              <div class="row align-items-center mb-3">
                <div class="col-md-2 text-end">
                  <label for="city" class="label"> City </label>
                </div>
                <div class="offset-md-1 col-md-6">
                  <app-text-input
                    [type]="'text'"
                    [label]="'city'"
                    [formControl]="editForm.controls['city'] | formControl"
                    class="theme-green"
                  >
                  </app-text-input>
                </div>
              </div>

              <div class="row align-items-center mb-3">
                <div class="col-md-2 text-end">
                  <label for="country" class="label"> Country </label>
                </div>
                <div class="offset-md-1 col-md-6">
                  <app-text-input
                    [type]="'text'"
                    [label]="'country'"
                    [formControl]="editForm.controls['country'] | formControl"
                    class="theme-green"
                  >
                  </app-text-input>
                </div>
              </div>
              <div class="row align-items-start mb-3">
                <div class="col-md-2 text-end">
                  <label for="website" class="label"> Website </label>
                </div>
                <div class="offset-md-1 col-md-6">
                  <app-text-input
                    [type]="'text'"
                    [label]="'website'"
                    [formControl]="editForm.controls['website'] | formControl"
                    class="theme-green"
                  >
                  </app-text-input>
                  <p class="main-text-1 description">
                    Editing your links is only available on mobile. Visit the
                    Instagram app and edit your profile to change the websites
                    in your bio.
                  </p>
                </div>
              </div>
            </app-panel>

            <app-panel
              title="Other Info"
              sub="Anything you want to share with other members"
            >
              <div class="row align-items-start mb-3">
                <div class="col-md-2 text-end">
                  <label for="website" class="label"> Introduction </label>
                </div>
                <div class="offset-md-1 col-md-8">
                  <app-textarea-input
                    [rows]="1"
                    [label]="'Tell me about your self'"
                    [formControl]="
                      editForm.controls['introduction'] | formControl
                    "
                    class="theme-green"
                  >
                  </app-textarea-input>
                </div>
              </div>
              <div class="row align-items-start mb-3">
                <div class="col-md-2 text-end">
                  <label for="website" class="label"> Looking For </label>
                </div>
                <div class="offset-md-1 col-md-8">
                  <app-textarea-input
                    [rows]="6"
                    [label]="
                      'Please tell me what you are looking for in this app'
                    "
                    [formControl]="
                      editForm.controls['lookingFor'] | formControl
                    "
                    class="theme-green"
                  >
                  </app-textarea-input>
                </div>
              </div>
              <div class="row align-items-start mb-3">
                <div class="col-md-2 text-end">
                  <label for="website" class="label"> Interests </label>
                </div>
                <div class="offset-md-1 col-md-8">
                  <app-textarea-input
                    [rows]="6"
                    [label]="'Anything Interesting to you'"
                    [formControl]="editForm.controls['interests'] | formControl"
                    class="theme-green"
                  >
                  </app-textarea-input>
                </div>
              </div>
            </app-panel>

            <app-panel
              title="User Photos"
              sub="Please have many images about you and share with other members!"
            >
              <div class="row mb-5">
                <div class="col-md-12">
                  <app-photo-upload
                    *ngIf="member"
                    #photoUpload
                    [photos]="member.photos"
                    (setMain)="setMainPhoto($event)"
                    (delete)="deletePhoto($event)"
                  ></app-photo-upload>
                </div>
              </div>
            </app-panel>

            <div class="row align-items-start mb-3">
              <div class="col-md-12 text-end">
                <app-button
                  [disabled]="!editForm.dirty"
                  [form]="editForm"
                  [type]="'submit'"
                  [customClass]="'btn btn-success btn-block'"
                  (click)="updateMember()"
                >
                  Save Changes
                </app-button>
              </div>
            </div>
          </div>
         
        </div>
      </form>
    </div>
  </div>
</div>
