<section class="profile" *ngIf="user">
  <div class="header-background">
    <div class="container profile-content">
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <img
              class="user-thumbnail size-sm user-border mb-4"
              width="40"
              [src]="user.photoUrl || './assets/user.png'"
              [alt]="user.username"
            />
            <i class="fa-solid fa-pen"></i>
          </div>
          <h2 class="main-text-2">Hello Charles</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="action-groups">
            <div>
              <a href="" class="action-link">
                <i class="action-icon fa-solid fa-user"></i>
              </a>
            </div>
            <div>
              <a href="" class="action-link">
                <i class="action-icon fa-solid fa-users"></i>
              </a>
            </div>
            <div>
              <a href="" class="action-link">
                <i class="action-icon fa-regular fa-message"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="panel white left">
          <div class="title mb-4">
            <mat-icon class="me-3"> mail </mat-icon>
            <div
              matBadgeOverlap="false"
              matBadgeColor="warn"
              class="demo-section"
            >
              Recent Messages
            </div>
          </div>
          <app-message-overview class="w-100"></app-message-overview>
        </div>
        <div class="panel white left">
          <div class="title mb-4">
            <mat-icon class="me-3">people</mat-icon>
            Saved Connections
          </div>
          <app-connection-overview class="w-100"></app-connection-overview>
        </div>
        <div class="panel white left">
          <div class="visitor">
            <div class="title">
              <mat-icon class="me-3">remove_red_eye</mat-icon>
              Recent Visitors
            </div>
            <div class="empty">
              <i class="empty-icon fa-solid fa-eye"></i>
              <div class="main-text-2">
                If you have had no visitors to your profile, consider updating
                your profile
              </div>
              <div class="empty-btn">
                <button>Update Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel white left">
          <div class="options">
            <div class="title">
              <mat-icon class="me-3">list_alt</mat-icon>
              YOUR OPTIONS:
            </div>
            <div>
              <ul class="side-nav">
                <li>
                  <a href="">
                    <i class="fa-solid fa-file-circle-check me-3"></i>
                    Profile
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa-solid fa-diagram-project me-3"></i>
                    Project
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa-solid fa-user-group me-3"></i>
                    People
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa-solid fa-gears me-3"></i>
                    Settings
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
