<div class="member-card" *ngIf="member">
  <div class="content">
    <a class="member-link" [routerLink]="['/main/members/', member.username]">
      <div class="image mb-3">
        <img src="{{ member.photoUrl || './assets/shared/user.png' }}" alt="" />
      </div>
      <!-- <div class="level">
      <span>PRO</span>
    </div> -->
      <div class="text">
        <p class="name">{{ member.name || "N/A" }}</p>
        <!-- <p class="job_title">UI / UX Designer</p> -->
        <p class="job-title">{{ member.city }}, {{ member.country }}</p>

        <p class="job-discription">
          {{ member.introduction || "" | truncate : 100 }}
        </p>
      </div>
      <div class="icons">
        <a *ngIf="member.github" href="{{ member.github }}">
          <img src="/assets/shared/icons/github.svg" alt="" width="28" />
        </a>
        <a *ngIf="member.linkedIn" href="{{ member.linkedIn }}">
          <img src="/assets/shared/icons/linkedin.svg" alt="" width="28" />
        </a>
        <a *ngIf="member.facebook" href="{{ member.facebook }}">
          <img src="/assets/shared/icons/facebook.svg" alt="" width="28" />
        </a>
        <a *ngIf="member.instagram" href="{{ member.instagram }}">
          <img src="/assets/shared/icons/instagram.svg" alt="" width="28" />
        </a>
        <a *ngIf="member.twitter" href="{{ member.twitter }}">
          <img src="/assets/shared/icons/twitter.svg" alt="" width="28" />
        </a>
      </div>
    </a>
    <hr />
    <div class="">
      <span class="member-badge">
        <i class="like-icon fa-solid fa-heart me-2"></i>
        <!-- {{ member.likedByUsers ? member.likedByUsers.length : 0 }} -->
      </span>
    </div>
    <hr />
    <div class="button-box">
      <app-button routerLink="/main/messages/{{ member.username }}">
        <span> Message </span>
      </app-button>
      <!-- <button class="message" type="button">Message</button> -->
      <app-button
        [icon]="member.followerNumber ? 'fa fa-plus' : 'fa fa-minus'"
        (click)="addOrRemoveLike(member)"
      >
        {{ isLiked ? "Unfollow" : "Follow" }}
      </app-button>
      <!-- <button class="connect" type="button">Connect</button> -->
    </div>
  </div>
</div>
