<div class="member-card" *ngIf="member">
  <div class="member-link">
    <div
      class="member-bg"
      [ngStyle]="{
        'background-image': member.photoUrl
          ? 'url(' + member.photoUrl + ')'
          : 'url(' + '/assets/shared/user.png' + ')'
      }"
    >
      <div class="member-card-header mb-2">
        <div class="main-line">
          <span class="member-badge">
            <i class="fa-solid fa-heart me-2"></i>
            {{ member.likedByUsers ? member.likedByUsers.length : 0 }}
          </span>
        </div>
      </div>
      <a class="member-link" [routerLink]="['/main/members/', member.username]">
        <div class="member-info">
          <div class="name">
            {{ member.username }}
          </div>
          <div class="occupation">Software Developer</div>
          <div class="d-flex align-items-center">
            <span class="distance">
              <i class="fa-solid fa-location-dot me-1"></i> location
            </span>
            <span class="member-badge ms-2">
              {{ member.city }}
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>