@import "_typography";

.main-link {
  @extend .link-text;
  border: none;
  color: var(--white);
  background-color: transparent;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  cursor: pointer;

  &:active {
    transform: translateY(0);
  }

  &.circle {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &.white {
    background-color: var(--white);
    color: var(--black);
  }

  &.full {
    width: 100%;
  }
  &.btn-lg {
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    color: var(--text-main);
  }
}

.dropdown-menu {
  @extend .text-2;
  // position: relative;
  min-width: 20rem;
  margin-top: 2rem;
  padding: 0.5rem;
  border: none;
  box-shadow: 0 5px 14px 2px var(--black-transparent);
  &::before {
    background-color: var(--white);
    box-shadow: 1px 2px 2px 0 var(--black-transparent);
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    transform: translateX(0) rotate(-135deg);
    z-index: 900001;
    top: -0.5rem;
    right: 1rem;
    z-index: -1;
  }
  &.messsage-dropdown {
    min-width: 30rem;
  }
}
