<div class="btn-group" dropdown>
  <a
    dropdownToggle
    (click)="(false)"
    [tooltip]="tooltip"
    containerClass="tooltip-link"
    class="main-link"
  >
    <img
      [src]="thumbnail"
      alt=""
      width="37"
      heigh="37"
      class="rounded-circle me-2"
      *ngIf="thumbnail"
    />
    {{ label }}
  </a>
  <ul
    [id]="id"
    *dropdownMenu
    class="dropdown-menu dropdown-menu-right"
    role="menu"
    [class]="customClass"
    [attr.aria-labelledby]="ariaControls"
  >
    <ng-content></ng-content>
  </ul>
</div>
