<div class="btn-group" dropdown (isOpenChange)="onOpenChange($event)">
  <a
    dropdownToggle
    (click)="(false)"
    [class]="customClass"
    containerClass="tooltip-link"
    class="main-link"
  >
    <i *ngIf="icon" [class]="icon"></i>
    <img
      [src]="thumbnail"
      alt=""
      width="37"
      heigh="37"
      class="rounded-circle me-2"
      *ngIf="thumbnail"
    />
    {{ label }}
  </a>
  <ul
    [id]="id"
    [class]="menuClass"
    *dropdownMenu
    class="dropdown-menu dropdown-menu-right"
    role="menu"
    [attr.aria-labelledby]="ariaControls"
  >
    <ng-content></ng-content>
  </ul>
</div>
