<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-stroked-button routerLink="/" routerLinkActive="active"
      >Dating App</a
    >
    <span class="example-spacer"></span>
    <div fxHide.lt-md>
      <ng-container *ngIf="accountService.currentUser$ | async">
        <a
          class="nav-link-1"
          mat-button
          routerLink="/members"
          routerLinkActive="active"
          >Matches</a
        >
        <a
          class="nav-link-1"
          mat-button
          routerLink="/lists"
          routerLinkActive="active"
          >Lists</a
        >
        <a
          class="nav-link-1"
          mat-button
          routerLink="/messages"
          routerLinkActive="active"
          >Messages</a
        >
        <a
          class="nav-link-1"
          mat-button
          routerLink="/admin"
          routerLinkActive="active"
          *appHasRole="['Admin', 'Moderator']"
        >
          Admin
        </a>
      </ng-container>
      <a
        class="nav-link-1"
        mat-button
        routerLink="/errors"
        routerLinkActive="active"
        >Errors</a
      >
      <a
        mat-button
        (click)="openLogin()"
        *ngIf="(accountService.currentUser$ | async) === null"
        >Login
      </a>
    </div>

    <ng-container *ngIf="accountService.currentUser$ | async as user">
      <button mat-button>
        <span>Welcome {{ user.knownAs || user.username | titlecase }}! </span>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img
          class="img-circle"
          src="{{ user.photoUrl || './assets/user.png' }}"
          alt="{{ user.username }}"
        />
      </button>
    </ng-container>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/member/edit">
        <mat-icon>dialpad</mat-icon>
        <span>Edit Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>voicemail</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row fxHide.gt-sm fxLayoutAlign="center center">
    <div>
      <ng-container *ngIf="accountService.currentUser$ | async">
        <a
          class="nav-link-1"
          mat-button
          routerLink="/members"
          routerLinkActive="active"
          >Matches</a
        >
        <a
          class="nav-link-1"
          mat-button
          routerLink="/lists"
          routerLinkActive="active"
          >Lists</a
        >
        <a
          class="nav-link-1"
          mat-button
          routerLink="/messages"
          routerLinkActive="active"
          >Messages</a
        >
        <a
          class="nav-link-1"
          mat-button
          routerLink="/admin"
          routerLinkActive="active"
          *appHasRole="['Admin', 'Moderator']"
        >
          Admin
        </a>
      </ng-container>
      <a
        class="nav-link-1"
        mat-button
        routerLink="/errors"
        routerLinkActive="active"
        >Errors</a
      >
      <a
        mat-button
        (click)="openLogin()"
        *ngIf="(accountService.currentUser$ | async) === null"
        >Login
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div>
    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="d-flex mt-2 mt-md-0"
      (ngSubmit)="login()"
      autocomplete="off"
      id="step2"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-sm-2"
        type="text"
        placeholder="Enter lisa or todd to login"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-sm-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav> -->
