.nav-main {
  // position: fixed;
  // opacity: 0.5;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 10;
  // background-color: var(--light-green);
  background-color: var(--main-bg-white);
}
.nav-link-1 {
  color: var(--white);
}
.example-spacer {
  flex: 1 1 auto;
}
