<div class="about">
  <div class="container mt-5" *ngIf="member">
    <!-- <app-panel title="About me" sub="About myself!">
      <div class="row">
        <div class="col-md-12">
          <article class="member-card p-3">
            <p>Headline</p>
            <p>Profession</p>
            <p>Gender</p>
            <p>City, Country</p>
            <p>School</p>
            <p>Contact Info</p>
            <p>Github, Linkedin</p>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <article class="member-card p-3">
            <p>
              {{ member.introduction }}
            </p>
            <p>
              {{ member.interests }}
            </p>
            <p>
              {{ member.lookingFor }}
            </p>
          </article>
        </div>
      </div>
    </app-panel> -->

    <app-panel title="About" customClass="no-padding no-height">
      <div class="row">
        <div class="col-md-12">
          <div>
            <tabset #staticTabs class="vertical-tab" [vertical]="true">
              <tab heading="Overview">
                <div class="about-content">
                  <h3 class="">
                    <i class="fa-solid fa-heading"></i>
                    Introduction
                  </h3>
                  <p>
                    {{ member.introduction }}
                  </p>
                </div>
                <div class="about-content">
                  <h3 class="">
                    <i class="fa-solid fa-mug-hot"></i>
                    Interests
                  </h3>
                  <p>
                    {{ member.interests }}
                  </p>
                </div>
                <div class="about-content">
                  <h3 class="">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Looking for
                  </h3>
                  <p>
                    {{ member.lookingFor }}
                  </p>
                </div>
              </tab>
              <tab heading="Work and Education">
                <div>
                  <div class="about-content">
                    <h3 class="">
                      <i class="fa-solid fa-person-digging"></i>
                      Work
                    </h3>
                    <p>
                      {{ member.introduction }}
                    </p>
                  </div>
                  <div class="about-content">
                    <h3 class="">
                      <i class="fa-solid fa-graduation-cap"></i>
                      Education
                    </h3>
                    <p>
                      {{ member.interests }}
                    </p>
                  </div>
                </div>
              </tab>
              <tab heading="Places Lived">
                <div>
                  <div class="about-content">
                    <h3 class="">
                      <i class="fa-solid fa-location-crosshairs"></i>
                      Location
                    </h3>
                    <p>Toronto, Canada</p>
                  </div>
                </div>
              </tab>
              <tab heading="Contact Basic info">
                <div>
                  <div class="about-content">
                    <h3 class="">
                      <i class="icon fa-solid fa-address-card"></i>
                      Contact info
                    </h3>
                    <p>abc@abc.com</p>
                    <p>Phone: 1234567899</p>
                  </div>

                  <div class="about-content">
                    <h3 class="">
                      <i class="fa-solid fa-thumbs-up"></i>
                      Websites and social links
                    </h3>
                    <p>
                      <span><i class="fa-brands fa-linkedin"></i></span>
                      google.ca
                    </p>
                    <p>
                      <span><i class="fa-brands fa-github"></i></span>
                      google.ca
                    </p>
                  </div>

                  <div class="about-content">
                    <h3 class="">
                      <i class="fa-solid fa-building-columns"></i>
                      Basic info
                    </h3>
                    <p>Computer programming, Seneca College</p>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </app-panel>

    <app-panel title="Photos">
      <div class="row" gallerize *ngIf="member.photos.length; else noGallery">
        <div
          class="col-md-2 mb-3"
          *ngFor="let photo of member.photos"
          gallerize
        >
          <img [src]="photo.url" alt="" class="w-100" />
        </div>
      </div>
      <ng-template #noGallery>
        <div class="text-center my-4">
          No images to show. Please upload some photos.
        </div>
        <div class="my-4 text-center">
          <app-button>Upload picture</app-button>
        </div>
      </ng-template>
    </app-panel>
  </div>
</div>
