<div class="timeline p-2">
  <div class="entry" *ngFor="let experience of experiences">
    <div class="title">
      <h3>2014 - Present</h3>
      <div>Title, Company</div>
    </div>
    <div class="body">
      <div>
        Voluptatibus veniam ea reprehenderit atque reiciendis non laborum
        adipisci ipsa pariatur omnis.
      </div>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>
          Exercitationem enim dolores sunt praesentium dolorum praesentium
        </li>
        <li>
          Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt
          illo
        </li>
      </ul>
    </div>
  </div>
</div>
