.main-btn {
  background-color: hsla(184, 91%, 28%, 1) !important;
  border: none;
  box-shadow: 0 5px 14px 2px rgb(0, 0, 0, 0.2);
  color: var(--white);
  padding: 1rem 3rem;
  border-radius: .5rem;
  transform: translateY(-0.2rem);
  transition: all 0.15s ease-in-out;

  &.white {
    background-color: var(--white);
    color: var(--black);
  }
  &:active {
    transform: translateY(0);
  }
  &.full {
    width: 100%;
  }
  &.btn-lg {
    font-size: 1.65rem;
  }
}
