@import "_typography";

.main-btn {
  @extend .btn-text !optional;
  background-color: transparent;
  border: 1px solid var(--primary);
  box-shadow: 0 1px 2px var(--black-transparent);
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  transform: translateY(-0.2rem);
  transition: all 0.3s ease-in-out;
  color: var(--primary);
  margin: 0 0.25rem;
  display: inline-block;

  &:active {
    transform: translateY(0);
    color: var(--black);
    background-color: transparent;
  }

  &:hover {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
  }

  &.full {
    width: 100%;
  }

  &.danger {
    color: var(--red);
    border-color: var(--red);

    &:hover {
      color: var(--white);
      background-color: var(--red);
      border-color: var(--red);
      box-shadow: none;
    }
  }
  &.primary {
    &:hover {
      color: var(--white);
      background-color: var(--primary);
      border-color: var(--primary);
      box-shadow: none;
    }
  }

  &.icon {
    padding: 0.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
  }

  &.icon-lg {
    @extend .heading-3;
    width: 4rem;
    height: 4rem;
  }
}
