<div>
  <h2>Login</h2>
</div>
<form class="" [formGroup]="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      placeholder="Username"
      formControlName="username"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="login()">
    Login
  </button>
</mat-dialog-actions>
