<div class="login">
  <app-panel>
    <form class="w-100" [formGroup]="form">
      <div class="row mb-3">
        <div class="col-md-12">
          <app-text-input
            [formControl]="form.controls['username'] | formControl"
            [label]="'Username'"
            [size]="'lg'"
          >
          </app-text-input>
        </div>
      </div>
      <div class="row align-items-start mb-3">
        <div class="col-md-12">
          <app-text-input
            [formControl]="form.controls['password'] | formControl"
            [type]="hide ? 'password' : 'text'"
            [size]="'lg'"
            [label]="'Password'"
            [type]="'password'"
          >
          </app-text-input>
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <app-button customClass="full btn-lg" (onClick)="login()">
          Login
        </app-button>
      </div>
    </form>

    <div class="col-md-12">
      <app-button
        icon="fa fa-plus"
        customClass="full btn-lg"
        (click)="openModalWithComponent()"
      >
        Register
      </app-button>
    </div>
    <hr />
    <div class="col-md-12">
      <div>
        <app-link
          customClass="primary"
          label="Need to Login?"
          routerLink="/"
          routerLinkActive="active"
        >
        </app-link>
      </div>
    </div>
  </app-panel>
</div>
