.rounded-circle {
  max-height: 35px;
}
.messages {
  padding: 0;
  width: 100%;
  .message-header {
    margin-bottom: 15px;
    padding: 0.5rem;
  }
  .message-body {
    padding: 0.5rem;
    min-height: 550px;
  }
  .message-sticky {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    // background-color: #424242;
  }
}

.message-container {
  background-color: var(--champagne);
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  overflow: hidden;
  z-index: 0;
  border-radius: 8px;
}

.message-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  & .heading {
    border-bottom: 0.8px solid lightgray;
    padding: 1rem;
  }

  & .body {
    overflow-y: scroll;
    position: relative;
    bottom: 0;
    flex-grow: 1;
    padding: 1rem;

    .message-item {
      padding: 0.5rem;
      .message-content {
        display: inline-block;
        background-color: rgba(179, 177, 177, 0.792);
        padding: 0.75rem;
        border-radius: 1rem;
        max-width: 350px;
      }
      .message-line {
        display: flex;
        align-items: center;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
        }
      }
    }
  }

  .write {
    border-top: 0.8px solid lightgray;
  }
}
