.rounded-circle {
  max-height: 35px;
}
.messages {
  padding: 0;
  width: 100%;
  .message-header {
    margin-bottom: 15px;
    padding: 0.5rem;
  }
  .message-body {
    padding: 0.5rem;
    min-height: 550px;
    .message-item {
      padding: 0.5rem;
      .message-content {
        display: inline-block;
        background-color: rgba(179, 177, 177, 0.792);
        padding: 0.75rem;
        border-radius: 1rem;
      }
    }
  }
  .message-sticky {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    // background-color: #424242;
  }
}
