@import "_typography";
.card {
  box-shadow: 0 0 10px var(--black-transparent);
  border: none;
  border-radius: 1rem;
  text-align: left;

  .card-header {
    @extend .text-1;
    color: var(--text-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    & .header-content {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      .img-container {
        flex-basis: 12%;
        flex-shrink: 0;
        margin-right: 0.5rem;
      }
      .user {
        text-transform: uppercase;
        color: var(--text-main);
        font-weight: 500;
      }
    }

    & .header-actions {
      flex-shrink: 0;

      & .status {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: gray;
        margin-left: 0.2rem;
        @extend .text-3;
        color: var(--text-main);
      }

      & .is-online {
        color: var(--online);
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
  }
  .card-image {
    & img {
      width: 100%;
      max-width: 100%;
      aspect-ratio: 1;
    }
  }
  .card-body {
    @extend .text-1;
    color: var(--text-main);
    .name {
      @extend .heading-4;
      margin-bottom: 1rem;
      text-transform: capitalize;
    }
    .position {
      @extend .text-2;
      color: var(--text-light);
      margin-bottom: 0.5rem;
    }
    .visited {
      @extend .text-3;
      color: var(--text-light);
      margin-bottom: 1rem;
    }
  }

 
}
