<div class="card" *ngIf="member">
  <div class="card-header">
    <div class="header-content">
      <div class="img-container">
        <img
          src="{{ member.photoUrl || './assets/shared/user.png' }}"
          [alt]="member.username"
          class="user-thumbnail size-xs"
        />
      </div>
      <div class="user">
        <app-link [routerLink]="['/main/members/', member.username]">
          <span> {{ "@" + member.username }} </span>
        </app-link>
      </div>
    </div>
    <div class="header-actions">
      <div class="status">
        <div
          *ngIf="
            (presence.onlineUsers$ | async)!.includes(member.username!);
            else offline
          "
        >
          <div>
            <i class="fa-solid fa-circle is-online"></i>
            <span class="ps-2">ONLINE</span>
          </div>
        </div>
        <ng-template #offline>
          <div>
            <i class="fa-regular fa-circle"></i>
            <span class="ps-2">OFFLINE</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="card-image" *ngIf="!noImage">
    <img
      src="{{ member.photoUrl || './assets/shared/user.png' }}"
      [alt]="member.username"
      class=""
    />
  </div>
  <div class="card-body">
    <div class="d-flex align-items-center">
      <h3 class="name">
        {{ member.name }}
      </h3>
      <div class="ms-auto">
        <div>
          <i class="like-icon fa-solid fa-heart"></i>
          {{ member.followerNumber }}
        </div>
      </div>
    </div>
    <div class="position">Software developer, Accentury Inc.</div>

    <div>
      <span class="badge bg-dark me-2">Angular</span>
      <span class="badge bg-dark me-2">React</span>
      <span class="badge bg-dark me-2">.NET</span>
    </div>
    <small class="visited"
      >Last visited {{ member.lastActive | timeago }}
    </small>
  </div>
</div>
