.career {
  & img {
    background-color: #ccc;
    padding: 1rem;
  }
  .company-name {
    padding-bottom: 0.5rem;
    font-weight: 900;
    font-size: 2rem;
  }
  .working-date {
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
    color: #6c757d;
  }

  .company-description {
    padding-bottom: 1rem;
  }

  .work-detail {
    .job-description {
      margin: 2rem 0 1rem -1rem;
      font-size: 1rem;
      color: #222;
    }
    .job-date {
      margin: 0 0 1rem -1rem;
      font-size: 0.9rem;
      font-weight: 400;
      color: #6c757d;
    }
    .job-list {
      padding-left: 1rem;
      margin: 1rem 0;
      .job-item {
      }
    }
  }
  .work-date {
    margin: 0 0 1rem -1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #6c757d;
  }
}
