<div class="message">
  <div *ngIf="members && members.length; else noData">
    <ul class="list-group member-list">
      <li class="list-group-item" *ngFor="let member of members">
        <a
          href=""
          class="member-item"
          routerLink="/main/messages/{{ member.username }}"
        >
          <div class="thumbnail-box">
            <img
              src="{{ member.photoUrl || './assets/shared/user.png' }}"
              [alt]="member.username"
              class="user-thumbnail size-xs"
            />
          </div>
          <div class="content-box">
            <div class="info">
              <div class="name">@{{ member.username }}</div>

              <span class="date">{{
                member.messagesSent[member.messagesSent.length - 1].messageSent
                  | date : "mediumDate"
              }}</span>
            </div>
            <div class="message">
              {{ member.messagesSent[member.messagesSent.length - 1].content }}
            </div>
          </div>

          <div class="action">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <ng-template #noData>
    <div class="no-data">
      <i class="no-data-icon fa-solid fa-comment-dots"></i>
      <div class="main-text-2">Your new messages will appear here.</div>
      <div class="no-data-btn">
        <button class="main-btn">Let's Go Talk</button>
      </div>
    </div>
  </ng-template>
</div>
