<div class="side-nav pt-5">
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <app-link
        routerLink="/main/dashboard/about"
        class="nav-link"
        [ngClass]="{ active: url === 'about' }"
        aria-current="page"
      >
        <i class="fa-regular fa-address-card d-lg-none"></i>
        <span class="ms-3 d-none d-lg-inline"> About </span>
      </app-link>
    </li>
    <li class="nav-item">
      <app-link
        routerLink="/main/dashboard/projects"
        class="nav-link"
        [ngClass]="{ active: url === 'projects' }"
      >
        <i class="fa-solid fa-list-check d-lg-none"></i>
        <span class="ms-3 d-none d-lg-inline"> My Projects </span>
      </app-link>
    </li>
    <li class="nav-item">
      <app-link
        routerLink="/main/dashboard/experiences"
        class="nav-link"
        [ngClass]="{ active: url === 'experiences' }"
      >
        <i class="fa-solid fa-medal d-lg-none"></i>
        <span class="ms-3 d-none d-lg-inline"> Experiences </span>
      </app-link>
    </li>
    <!-- <li class="nav-item">
      <a
        routerLink="/main/dashboard/skills"
        class="nav-link text-white"
        [ngClass]="{ active: url === 'skills' }"
      >
        Skills
      </a>
    </li> -->
  </ul>
</div>
