.nav-link.active,
.show > .nav-link {
  color: var(--text-main);
  border-right: 3px solid var(--primary);
  background-color: var(--primary-light);
  border-radius: 0;
}

.side-nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--white);

  height: 100%;
  border-right: 1px solid var(--border-main);
}
