<div class="d-flex flex-column flex-shrink-0 bg-white">
  <ul class="nav flex-column mb-auto mt-5">
    <li class="nav-item">
      <app-link
        routerLink="/main/dashboard/about"
        class="nav-link"
        [ngClass]="{ active: url === 'about' }"
        aria-current="page"
      >
        <i class="fa-regular fa-address-card"></i>
        <span class="ms-3"> About </span>
      </app-link>
    </li>
    <li class="nav-item">
      <app-link
        routerLink="/main/dashboard/projects"
        class="nav-link"
        [ngClass]="{ active: url === 'projects' }"
      >
        <i class="fa-solid fa-list-check"></i>
        <span class="ms-3"> My Projects </span>
      </app-link>
    </li>
    <li class="nav-item">
      <app-link
        routerLink="/main/dashboard/experiences"
        class="nav-link"
        [ngClass]="{ active: url === 'experiences' }"
      >
        <i class="fa-solid fa-medal"></i>
        <span class="ms-3"> Experiences </span>
      </app-link>
    </li>
    <!-- <li class="nav-item">
      <a
        routerLink="/main/dashboard/skills"
        class="nav-link text-white"
        [ngClass]="{ active: url === 'skills' }"
      >
        Skills
      </a>
    </li> -->
  </ul>
  <hr />
</div>
