<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
  <ul class="nav nav-pills flex-column mb-auto mt-5">
    <li class="nav-item">
      <a
        routerLink="/main/dashboard/about"
        class="nav-link text-white"
        [ngClass]="{ active: url === 'about' }"
        aria-current="page"
      >
        About
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/main/dashboard/projects"
        class="nav-link text-white"
        [ngClass]="{ active: url === 'projects' }"
      >
        My Projects
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/main/dashboard/experiences"
        class="nav-link text-white"
        [ngClass]="{ active: url === 'experiences' }"
      >
        Experiences
      </a>
    </li>
    <!-- <li class="nav-item">
      <a
        routerLink="/main/dashboard/skills"
        class="nav-link text-white"
        [ngClass]="{ active: url === 'skills' }"
      >
        Skills
      </a>
    </li> -->
  </ul>
  <hr />
</div>
